/* CSS customized for apps page */

body {
  color: #333;
  font-family: "Raleway", 'HelveticaNeue-Light', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

header {
  padding-bottom: 0;
}

a {
  color: #00484b;
}
a:hover {
  text-decoration: underline;
  color: #008185;
}

// top navigation
#navLinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  
  
  ul:after {
    content: "";
    display: block;
    clear: both;
  }
  
  li {
    background-color: #bca9cd;
    border-bottom: 1px solid white;
    height: 2em;
    line-height: 2em;
    
    a {
      display: block;
      padding: 0em 0.2em 0em 0.2em;
      color: white;
    }
  }
  
  a:hover {
    background-color: #463358;
    color: white;
    text-decoration: none;
  }

}


// MEDIA QUERIES
@media all and (min-width: $bp-small-3) {
  #navLinks {

    ul {
      display: inline-block;
    }
    li {
      float: left;
      a {
        padding: 0em 0.7em 0em 0.7em;
      }
    }
  }

}
  
@media all and (min-width: $bp-med-2) {
  #navLinks{
    ul {
      display: inherit;
      width: 100%; 
    }
    li {
      width: 25%;
    }

    #navLinks {
      max-width: 50em;
    }
  }
  
  #navLinks {
    max-width: 55em;
  }
  

}


/* BOOTSTRAP - customize styles */
  // BUTTONS
  .btn {
    font-size: 1em;
    border: 1px solid grey;

  }
  .btn.btn-primary {
    background-color: #37a8c6;
    color: white;
  }
  .btn.btn-primary:hover {
    background-color: #339bb7;
  }

  // Horizontal Rule
  hr {
    border-color: #b3b3b3;
  }


// PAGE HEADER 
#pageHeader {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size : 1.5em;
}


div.page-header {
  text-align: center;
  margin: 0.7em 0.2em 0.7em 0.2em;
}

/* ********** BROTHERS VIEW ********** */
#view-all-brothers {
  // WIDGETS
  .floated-widgets {
    margin-bottom: 0.2em;
  }
  .float-left-widgets {
    width: 100%;
    max-width: 40em;
    float: left;
  }
  
  // FILTERS
  .filters-head {
    width: 100%;
    text-align: left;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 0.7em;
  }
  .filters {
    width: 100%;
  }
  
  // BOTTOM WIDGETS
  .bottom-widgets-container {
    margin-bottom: 1.5em;
  }
  div.filter-group-role {
    float: left;
  }
  label.filter-role {
    padding: 0.16em;
    background-color: #c0c0c0;
  }
  label.filter-role:hover {
    background-color: #8f8f8f;
  }
  label.filter-role.active {
    background-color: #00396f;
  }
  
  .change-view {
    float: left;
    padding-left: 0.4em;
    margin-right: 0.3em;
    line-height: 2em;
  }
  .change-view-icon {
    color: #bbbbbb;
    cursor: pointer;
  }
  .change-view-icon:hover {
    color: #0057aa;
  }
  
  
  // TOP WIDGETS
  .selected-filter {
    line-height: 1.7em;
    background-color: #00396f;
    border-radius: 0.2em;
    color: white;
    margin-right: 0.5em;
    padding: 0.2em;
  }
  
  div.filter-group-label {
    margin-top: 0.8em;
    margin-bottom: 0.2em;
  }
  
  label.filter-prvlg {
    background-color: #c0c0c0;
  }
  label.filter-prvlg:hover {
    background-color: #8f8f8f;
  }
  label.filter-prvlg.active {
    background-color: #828282;
  }
  
  // - search
  input.brotherSearchMain {
    width: 90%;
    display: inline-block;
  }
  input.brotherSearchMain:focus {
    border-bottom-color: #0057aa;
  }

  .search-icon {
    width: 1.4em;
    font-size: 1em;
    line-height: 2.4em;
    padding-bottom: 0.1em;
    margin: 0;
    color: white;
    text-align: center;
    background-color: #bbbbbb;
  }
  
  .search-icon:hover {
    color: #0057aa;
  }
  
  
  
  // - add Brother button {
  .addBrotherButton {
    float: right;
    line-height: 2.2em;
  }
  
  // base class
  .brother-list-item {
    background-color: #d2ccf1;
    border: 0.3em solid white;
    margin-top: 0.4em;
    padding: 0.5em;
    box-sizing: border-box;
    cursor: pointer;
  }
  .brother-list-item:hover {
    border-color: #9999cc;
  }

  // elder list-item
  .elder-list-item {
    background-color: #a5c59b;//rgba(173, 216, 230, 1);
  }

  // ms list-item
  .ms-list-item {
    background-color: #8abfc7;
  }
  
  .brotherName {
    font-size: 1.1em;
    float: left;
  }
  
  .prvlgs {
    margin-top: 1em;
  }
  
  .prvlg {
    background-color: #a45c8d;
    color: white;
    margin-right: 0.3em;
    margin-top: 0.3em;
    @include border-radius(0.2em);
    padding: 0.4em;
    display: inline-block;
  }
  
  .role {
    display: inline-block;
    width: 2em;
    background-color: cadetblue;
    color: white;
    border-radius: 2px;
    padding: 3px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .role.elder {
    background-color: darkslategray;
  }
  
  // clickable icons in list item
  img.brother-ctrls {
    margin-top: 0.5em;
    width: 1em;
    margin-right: 0.5em;
    cursor: pointer;
    float: right;
  }
  
  .brother-ctrl {
    float: right;
    cursor: pointer;
    color: inherit;
  }
  .brother-ctrl:hover {
    color: inherit;
  }
  
  // search results - no results
  .no-results {
    margin: 1em 0 1em 0;
    font-size: 1.2em;
    font-style: oblique;
  }
  .add-no-results {
    font-style: oblique;
    font-weight: 600;
  }
  
}

// MEDIA QUERIES
@media all and (min-width: $bp-small) {
  #view-all-brothers {
    label.filter-role {
      padding: 6px 12px 6px 12px;
    }
    .change-view {
      float: right;
      padding-left: 0;
    }
  }

}



/* ***** BROTHER-EDIT VIEW ***** */
.notificationsPane {
  padding-top: 0.8em;
  text-align: center;
}
.notificationsPane.warning {
  color: red;
}
#brother-edit-view {
  // brother name
  .header-brother-edit-name {
    color: black;
  }
  
  .pageIcon {
    width: 1em;
    margin-right: 0.45em;
  }
  
  .cancel-edit {
    float: left;
  }
  
  .delete-brother {
    float: right;
    cursor: pointer;
  }
  
  .delete-brother:hover {
    border-bottom: 1px solid green;
  }
  
  
  
  // form
  .edit-brother-form {
    margin-top: 1em;
  }
  
  input[type="text"] {
    font-size: 1em;
    color: #333;
  }
  input[type="text"]:focus {
    border-bottom-color: #009649;
  }
  
  .form-group {
    margin-bottom: 0.35em;
  }
  
  .form-group-head {
    margin-bottom: 0.8em;
    background-color: #a8abc2;
    color: white;
    font-size: 1.4em;
    padding: 0.2em 0em 0.2em 0em;
    width: 100%;
    text-align: center;
    margin-bottom: 0.35em;
  }
  
  .form-group-head.mdwkFilterHead {
    background-color: rgba(57,32,70,1);
  }
  .form-group-head.pubFilterHead {
    background-color: rgba(179,116,39,1);

  }
  .form-group-head.miscFilterHead {
    background-color: #a5c59b;
  }
  
  // includes checkboxes and preview box
  li {
    margin-bottom: 0.3em;
    font-size: 1em;
  }
  
  // preview box
  .preview-header {
    font-size: 1.2em;
    text-decoration: underline;
    margin-bottom: 0.4em;
  }
  .previewChanges {
    width: 100%;
    box-sizing: border-box;
    background-color:#657f90; 
    color: white;
    font-size: 1em;
    padding: 1em;
    margin-bottom: 0.8em;
  }
   .preview-prvlgs {
    margin-top: 0.4em;
    font-size: 0.9em;
  }
  .hasPrvlg {
    color: white;
  }
  .noPrvlg {
    color: floralwhite;
    text-decoration: line-through;
  }
 
  // submit style
  .submitForm {
    margin-top: 0.45em;
    margin-bottom: 0.2em; 
  }
  
  
  // MEDIA QUERIES
  
  @media all and (min-width: $bp-med-2) {
    div.edit-brother-form {
      width: 65%;
      float: left;
    }
    
    div.previewChanges {
      float: right;
      margin-top: 3em;
      width: 30%;
    }
    
    .float-parent-clearfix:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  
}



/* ***** MDWK MEETING - VIEWS ***** */

// Main/Home MDWK view
#mdwk-overview {
  
  .monthNotFound {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
  }
  
  // year overview
  #year-overview {
    background-color: #d8d8d8;
    width: 100%;
    margin: 0.3em 0 0.45em 0;
  }
  div.year-overview-header {
    padding: 0.45em 0.5em 0.45em 0.5em;
    color: white;
    font-size: 1.2em;
    background-color: #275c8e;
    cursor: pointer;
    text-align: center;
    img {
      width: 2em;
      height: 2em;
      border: 2px solid #a3a3a3;
      @include border-radius(1em);
    }
    i.fa-angle-down {
      margin-left: 0.35em;
    }
  }
  .year-overview-months {
    padding-top: 0.6em;
  }
  .year-overview-notifications {
    padding: 1em 0.8em 1em 0.8em;
    text-align: left;
    color: #275c8e;
  }
  
  // current week overview
  .mtgData {
    .header {
      background-color: transparent;
      color: inherit;
    }
  }
  
  
  #mdwkOneMtg {
    
    // head
    .mdwk-section-head {
      background-color: darkblue;
      color: white;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
    }
    .treasures > .mdwk-section-head {
      background-color: $treasuresCol;
    }
    .applyYourself > .mdwk-section-head  {
      background-color: $applyCol;
    }
    .livingAs > .mdwk-section-head {
      background-color: $livingCol;
    }
    .mdwk-img-logo {
      border: 2px solid #cacaca;
      margin-right: 0.5em;
    }
    
    
    .duration,
    .asgmtTitle,
    .assignee {
      float: none;
      width: inherit;
    }
    
    .asgmtTitle {
      font-size: 1.2em;
      margin-bottom: 0.1em;
      margin-top: 0.1em;
    }
    
    .duration,.assignee, .reader, .hasMedia,
    .hasAudParticipation {
      color: #9f9f9f;
      font-size: 0.9em;
      float: left;
    }
    
    .right-side-widgets {
      float: right;
    }

    .hasMedia,
    .hasAudParticipation {
      float: right;
      width: 1em;
      height: 1em;
      margin-right: 1em;
    }
    
    .duration {
      width: 5em;
      margin-right: 1em;
    }
    .assignee {
      overflow: hidden;
      margin-right: 1em;
    }
    
    i {
      margin-right: 0.2em;
    }
    
    .conc {
      margin-top: 1.5em;
    }
    .concNotaBene {
      font-size: 0.9em;
    }
    
  }
}


.asgmt-page {
  .page-header {
  
    
    .mdwk-header-images {
      margin-top: 0.6em;
    }
    
    .weeks-at-a-glance {
      margin-top: 0.55em;
    }
    
    img {
      width: 3em;
      height: 3em;
      @include border-radius(1.5em);
      border: 3px solid #a3a3a3;
    }
    
    
  }
  
  .week-date-container {
    color: black;
    margin-bottom: 0.6em;
    padding: 0.2em 0em 0.2em 0em;
    border-bottom: 1px dotted gray;
    
    h2 {
      text-transform: uppercase;
    }
    .week-date {
      float: left;
    }
    .weeklyBibReadingDisp {
      float: right;
      text-transform: uppercase;
      line-height: 2.8em;
    }
    .chairmanDisp {
      font-size: 1.0em;
    }
    
  }
  
  
  .mdwkMtgWeekFormGroup {
    margin-bottom: 1.8em;
  }
  
  li {
    vertical-align: middle;
  }
  
  // COMPONENTS
  // separate header from actual data first-row
  .mtgData {
    margin-top: 1.5em;
    .header {
      padding: 0.45em 0.1em 0.45em 0.1em;
      font-size: 1.4em;
      
      
      .primary-row {
        text-align: center;
      }
      
      .secondary-row {
        font-size: 0.7em;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
      }
      
      .specialWkMsg {
        font-size: 0.7em;
        color: #9f9f9f;
      }
      
    }
  }
  
  .specialWkMsg {
    color: #fbd384;
    font-size: 1.5em;
    text-align: center; 
  }
  
  /* Intro Content */
  .intro-container {
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin-top: 0.2em;
  }
  .chairman {
    
  }
  .introText {
    font-size: 0.9em;
    margin-top: 0.2em;
  }
  
  
  .midSong {
    padding-top: 0.3em;
    font-size: 0.9em;
  }


  
  /* MDWK MTG CONTENT */
  .mdwk-section {
    margin-top: 1.6em;
  }
  .mdwk-section-head {
    text-align: left;
    margin-top: 0.8em;
    border-bottom: 2px solid grey;
    font-size: 1.45em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    
    .mdwk-img-logo {
      width: 1em;
      height: 1em;
      border-radius: 0.5em;
      margin-right: 0.2em;
    }
    
  }
  .mdwk-asgmt {
    line-height: 1.2em;
    margin-bottom: 0.2em;
    padding: 0.1em 0.4em 0.2em 0.2em;
    border-bottom: 1px solid white;
    // start out small font-size for mobile devices
    font-size: 0.8em;
  }
  .mdwk-asgmt:last-child {
    border-bottom: none;
  }
  .mdwk-section-content {
    background-color: rgba(78,86,93, 0.1);
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
  .duration {
    float: left;
    width: 3.7em;
    text-align: left;
  }
  .asgmtTitle {
    float: left;
    padding-left: 0.1em;
  }
  .assignee {
    float: right;
  }
  .reader {
    font-size: 0.7em;
    margin-left: 0.7em;
    float: left;
  }
  .mdwk-section-content.treasures {
    background-color: rgba(78,86,93, 0.1);
  }
  .mdwk-section-content.applyYourself {
    background-color: rgba(179,116,39,0.2);
  }
  .mdwk-section-content.livingAs {
    background-color: rgba(130,0,29,0.1);
  }
  
  /* Conc Content */
  .conc {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 0.9em;
  }
  
  
//  #year-overview {
//    background-color: #d8d8d8;
//    width: 100%;
//    margin: 0.3em 0 0.45em 0;
//  }
//  div.year-overview-header {
//    padding: 0.5em 0.5em 0.5em 0.5em;
//    color: white;
//    background-color: #002548;
//    cursor: pointer;
//    text-align: left;
//    img {
//      width: 2em;
//      height: 2em;
//      border: 2px solid #a3a3a3;
//      @include border-radius(1em);
//    }
//  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  a.month-wrapper:hover {  
    text-decoration: none;
  }
  .month-icon {
    overflow: visible;
    text-transform: uppercase;
    text-align: center;
    width: 4em;
    height: 4em;
    display: inline-block; /* browser treats all elems as single-line */
    padding-top: 0.1em; /* vertical align */
    margin-left: 0.3em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    box-sizing: border-box;
    background-color: #878787;
    color: white;
    transition: 0.25s;
  }
  .month-icon > .year {
    font-size: 0.8em;
  }
  i.chosenMonth {
    font-size: 0.7em;
  }
  
  .month-icon.incomplete {
    background-color: #878787;
  }
  
  .month-icon.complete {
    background-color: #004c51;
  }
  
  .month-icon.currentMonth {
    padding-top: 0.1em;
    background-color: #002548;
  }
  
  .month-icon:hover {
    cursor: pointer;
    transform: scale(1.09);
    background-color: #830043;
  }
  // navigation to other months - boxes
  #year-overview {
    text-align: center; /* horizontally centers contained elems */
  }
  
  
  /* SPECIAL MEDIA QUERIES */
  @media all and (min-width: $bp-small-2) {
    .mdwk-asgmt {
      font-size: 1em;
      padding-left: 1em;
    }
    .asgmtTitle {
      padding-left: 0.2em;
    }
  } 
    
}


/* MDWK MEETING MONTH VIEW */
.mdwk-mtg-month-view {
  // page:
  
  
  div.header {
    
    text-align: center;
    margin-bottom: 0.5em;
    
    .backButton {
      text-align: left;
      margin-bottom: 0.5em;
    }
    .printButton {
      cursor: pointer;
    }
    .monthAnnc {
      text-transform: uppercase;
    }
    .float-left {
      float: left;
    }
    .float-right {
      float: right;
      text-align: right;
    }
    img {
      @include border-radius(1.5em);
      width: 3em;
      height: 3em;
      border: 3px solid #a3a3a3;
    }
    
  } 
  
  
  .view-widgets-container {
    margin-bottom: 1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
  
  
  // error (404 etc)
  .loadErrorWrapper {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    text-align: center;
    font-size: 1.4em;
    line-height: 1.2em;
  }
  
  // for each week:
  .week-data {
    
    margin-bottom: 3em;
    border: 1px solid rgba(59,59,59,0.8);
    
    header {
      text-align: left;
      background-color: rgba(59,59,59,0.8);
      color: white;
      padding: 0.4em 0.2em 0.4em 0.6em;
      .week-date {
        text-transform: uppercase;
        font-size: 1.7em;
      }
    }
    
    
    
    header.specialWk {
      color: #fbd384;
      background-color: #565656;
    }
    
    .conc-container {
      padding: 0.2em;
      text-align: center;
      font-size: 0.9em;
    }
  }
  

}


// Universal styling for classic tabular view of midweek meeting
.mdwk-tab-classic-view {
  margin-bottom: 2em;
  width: 100%;
  color: #243d61;
  
  // General styles
  .tab-mdwk-section {
    margin-bottom: 0.8em;
  }

  .tab-duration-cell {
    width: 4.3em;
    padding-left: 0.4em;
  }
  .tab-asgmtTitle-cell {
    width: 36em;
    padding-left: 0.4em;
    background-color: #e1e1e2;
  }
  .tab-assignee-cell {
    text-align: center;
  }
  .tab-mdwk-section td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .tab-mdwk-section td.tab-timeFrame-cell {
    text-align: center;
  }
  
  // Sectional styles
  /* ** intro ** */
  .tab-mdwk-section.intro {
    margin-bottom: 0.2em;
    border: none;
  }
  .tab-mdwk-section.intro td {
    border: none;
  }
  .tab-intro-right-cell {
    text-align: right;
    padding-right: 0.2em;
  }
  .tab-date-cell {
    font-size: 1.8em;
    text-align: center;
  }
  td.tab-specialWkMsg-cell {
    font-size: 1.8em;
    text-align: center;
    border: 1px solid #243d61 !important;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 1.2em;
  }
  
  /* ** Treasures ** */
  .tab-mdwk-section.treasures {
    border: 1px solid $treasuresCol;
    border-left-width: 3px;
  }
  .tab-mdwk-section.treasures td {
    border: 1px dotted $treasuresCol;
    color: $treasuresCol;
  }
  
  
  /* ** Apply Yourself ** */
  .tab-mdwk-section.applyYourself {
    border: 1px solid $applyCol;
    border-left-width: 3px;
  }
  .tab-mdwk-section.applyYourself td {
    border: 1px dotted $applyCol;
    color: $applyCol;
  }
  .tab-mdwk-section.applyYourself td.tab-asgmtTitle-cell {
    
  }
  
  /* ** Living As Christians ** */
  .tab-mdwk-section.livingAs {
    border: 1px solid $livingCol;
    border-left-width: 3px;
    margin-bottom: 0.2em;
  }
  .tab-mdwk-section.livingAs td {
    border: 1px dotted $livingCol;
    color: $livingCol;
  }
  
  /* ** Conclusion ** */
  .tab-mdwk-section.conc {
    margin-top: 0em;
    border: none;
  }
  .tab-mdwk-section.conc td {
    border: none;
    padding-left: 0.2em;
  }
  .tab-concNotaBene-cell {
    padding: 0em 0em 0em 0em;
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
  }
  
}


/* MDWK NEW/EDIT VIEW */
#mdwk-create-new {
  .week-date-container {
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
  
  
  // form directive
  .mdwkMtgWeek {
    padding-left: 0.4em;
    padding-right: 0.4em;
  }
  
}



/* LOGIN PAGE */
#login-view {
  .login-header {
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
  }
  
  // inputs
  input.login-input {
    display: block;
    margin: 0.2em;
    margin-bottom: 0.5em;
    width: 100%;
    max-width: 20em;
    margin-left: auto;
    margin-right: auto;
  }
  
  .login-submit-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .login-form {
    width: 25em;
    margin-top: 1em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid #d5d3d4;
  }
  
  // Notifications bar
  .httpNotifications {
    text-align: center;
    color: red;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
}


// FORMS
.mdwkMtgForm { 
  
  .form-group {
    margin-bottom: 4px;
  }
  .wkTypeBtnContainer {
    margin-bottom: 0.8em;
  }
  .wkTypeBtn {
    background-color: #cacaca;
  }
  .wkTypeBtn:hover {
    background-color: #c0c0c0;
  }
  .wkTypeBtn.regWk.active {
    background-color: #02a58d;
  }
  .wkTypeBtn.coWk.active {
    background-color: #0294a5;
  }
  .wkTypeBtn.assemblyWk.active {
    background-color: #C1403D;
  }
  
  .form-checkbox {
    background-color: white;
    border-color: #9f9f9f;
    color: #9f9f9f;
  }
  .form-checkbox.active {
    color: inherit;
    background-color: #cacaca;
    border-color: black;
  }
  
  // input reset sizing
  input.mdwkForm-chairman,
  input.mdwkForm-assignee,
  input.mdwkForm-weeklyBibReading {
    width: 10em;
    display: inline;
  }
  input.mdwkForm-song {
    width: 5em;
    display: inline;
  }
  input.mdwkForm-duration {
    width: 2.8em;
    text-align: center;
    display: inline;
  }
  input.mdwkForm-asgmtTitle {
    width: 100%;
    max-width: 35em;
    display: inline;
  }
  input.mdwkForm-prayer {
    width: 15em;
    display: inline;
  }
  
  input.small-title {
    max-width: 20em;
  }
  
  // form sections
  .mdwk-form-section-container {
    margin-bottom: 0.8em;
  }
  
  
  // section styling
  .mdwkForm-treasures {
    border-left: 4px solid $treasuresCol;
    padding-left: 0.4em;
    
    .dropdown-menu>.active>a {
      background-color: $treasuresCol;
    }
  }
  .mdwkForm-applyYourself {
    border-left: 4px solid $applyCol;
    padding-left: 0.4em;
    
    .dropdown-menu>.active>a {
      background-color: $applyCol;
    }
  }
  .mdwkForm-livingAs {
    border-left: 4px solid $livingCol;
    padding-left: 0.4em;
    
    .dropdown-menu>.active>a {
      background-color: $livingCol;
    }
  }
  
  .form-section-head {
    margin: 0em 0em 0.5em 0em;
    text-decoration: underline;
  }
  
  // Buttons
  .addButton {
    line-height: 0.8em;
    font-size: 1.4em;
    @include border-radius(1.2em);
  }
  
}


/* ********** SERVICE GROUPS ********** */
#serviceGroups-main {
  
  .header {
    
  }
  
  .page-content {
    margin-left: 0.35em;
    margin-right: 0.35em;
    
    .service-group {
      border: 1px solid black;
      padding: 1em 0.5em 1em 0.5em;
      margin-bottom: 0.8em;

    }
    
    .service-group-header {
      .service-group-overseer {
        border-bottom: 1px solid black;
        
        .role {
          font-size: 0.5em;
        }
      }
    
      
    }
  }

  
  /* **** MEDIA QUERIES **** */
  @media all and (min-width: $bp-small) {
    
    .service-group {
      margin-left: auto;
      margin-right: auto;
      max-width: 20em;
    }
    
  }
  
  @media all and (min-width: $bp-med) {
    
    .service-group {
      float: left;
      width: 30em;
      margin-right: 0.5em;
    }
    .service-group-wrapper {
      width: 41em;
      margin: auto;
    }
  }
  
  @media all and (min-width: $bp-xl-3) {
    .service-group-wrapper {
      background-color: aqua;
      width: 59em;
    }
    
    
  }
}



// INPUTS 
input[type="text"].specialWkDescInput:focus,
input[type="number"].specialWkDescInput:focus,
input[type="password"].specialWkDescInput:focus {
  border-bottom-color: #C1403D;
}

input[type="text"].input-treasures:focus,
input[type="number"].input-treasures:focus,
input[type="password"].specialWkDescInput:focus {
  border-bottom-color: $treasuresCol;
}

input[type="text"].input-applyYourself:focus,
input[type="number"].input-applyYourself:focus,
input[type="password"].specialWkDescInput:focus {
  border-bottom-color: $applyCol;
}

input[type="text"].input-livingAs:focus,
input[type="number"].input-livingAs:focus,
input[type="password"].specialWkDescInput:focus {
  border-bottom-color: $livingCol;
}

input {
  color: #555;
}


/* ********** PRINT STYLESHEET ********** */
@media print {
  /* General Styles */
  
  header.idx-header,
  footer {
      display: none;
  }
  
  #omni-wrapper {
    padding-left: 0;
    padding-right: 0;
    font-size: 0.7em;
  }
  
  /* Page-specific */
  .mdwk-mtg-month-view {
    
    // force background-colors on webkit browsers (experimental)
    div.header {
      font-size: 1.4em;
      
      .view-widgets-container {
        display: none;
      }
      
      img {
        height: 1.7em;
        width: 1.7em;
      }
      
    }
    
    .week-data {
      // prevent page-breaks accross meetings
      page-break-inside: avoid;
      
      // add slight gray shade behind week date
      header {
        // increase date row size
        font-size: 1.2em;
        background-color: #f3f3f3 !important;
        text-align: right;
        
        .weekly-bib-reading {
          float: none;
        }
      }
      
      // float the chairman and intro comments into same row
      div.row-one {
        margin-top: 0.2em;
        
        .float-left {
          float: left;
        }
        .float-right {
          float: right;
        }
      }
      
      .conc-container {
        margin-top: 0.2em;
        text-align: left;
      }
      
      .concNotaBene {
        text-align: center;
      }
      
      .mdwk-section {
        padding-left: 0.35em;
        padding-right: 0.35em;
      }
      
      .mdwk-asgmt {
        border-bottom: 1px dotted gray;
        .asgmtTitle {
          font-weight: 600;
        }
      }
      
    }
    
    .mdwk-section-content.treasures {
      .mdwk-asgmt { border-bottom-color: $treasuresCol; }
    }
    .mdwk-section-content.applyYourself {
      .mdwk-asgmt { border-bottom-color: $applyCol; }
    }
    .mdwk-section-content.livingAs {
      .mdwk-asgmt { border-bottom-color: $livingCol; }
    }
    
    // add colors to the borders of each section
    .mdwk-section-head.treasures {
      border-bottom-color: $treasuresCol;
    }
    .mdwk-section-head.applyYourself {
      border-bottom-color: $applyCol;
    }
    .mdwk-section-head.livingAs {
      border-bottom-color: $livingCol;
    }
  }
  
  
}

