/* TABLE LAYOUT */

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-size: 0.94em;
  width: 95%;
}

td {
  border: 1px solid #ccc;
}

table {
//  border-left: 1px solid #ccc;
//  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}


th {
  font-weight: 400;
  font-size: 1.1em;
}

td, th {
  height: 1.6em;
  padding-top: .2em;
  padding-bottom: .2em;
  padding-left: 0.18em;
  padding-right: 0.18em;
}
.tableWrapper {
  overflow-x: auto;
}



/* TABLE specific styles */
.mdwk-assignment-sch th {
  color: #392046;
  text-align: center;
}
//.mdwk-assignment-sch tr:nth-child(even) {
//  background-color: #d5bee1;
//}
.mdwk-assignment-sch tr:hover {
  background-color: #ADD8E6;
  color: inherit;
}

// escape hover effects on week labels
tr.weekDelimiter:hover {
  background-color: inherit;
  color: inherit;
}

// styles per column
.mdwk-assignment-sch {
  .col-name-duration {
    text-align: left;
  }
  
  .col-name-assignment {
    text-align: left;
  }
  
  .col-name-timeInt {
    text-align: center;
  }
  
  .col-name-assignee {
    text-align: center;
  }
}


// styles per section
.mdwk-assignment-sch {
  // per-section column shading
  .col-name-assignment.treasures {
      background-color: rgba(78,86,93, 0.1);
  }
  .col-name-assignment.applyYourself {
      background-color: rgba(179,116,39,0.18);
  }
  .col-name-assignment.livingAs {
      background-color: rgba(130,0,29,0.1);
  }
  
  
  // section headers
  .heading-row {
    text-align: center;
    color: white;
    font-size: 1.4em;
    padding: 0;
  }
  .heading-row.treasures {
    background-color: $treasuresCol;
  }
  .heading-row.applyYourself {
    background-color: $applyCol;
  }
  .heading-row.livingAs {
    background-color: $livingCol;
  }
  tr.weekDelimiter {
    border-top: none;
    text-align: center;
    font-size: 1.55em;
    color: black;
  }
  
  // section left border
  .treasuresRow {
    border-left: 3px solid $treasuresCol;
  }
  .applyYourselfRow {
    border-left: 3px solid $applyCol;
  }
  .livingAsRow {
    border-left: 3px solid $livingCol;
  }
  
  
  // mid-song style
  td.midSong-cell {
    font-size: 0.86em;
    padding-left: 0.5em;
  }
  
  // conclusion row
  tr.conc {
    font-size: 0.86em;
  }
  
}

// decorative left border
.tableWrapper.mdwkMtg{
  border-left: 0.3em solid #392046;
}


.tableLabel {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.4em;
}

// by default, hide time frame (e.g. 7:00-7:05) to conserve space
th.timeInt-col, 
td.col-name-timeInt {
    display: none;
}

// show at min-width
@media all and (min-width: $bp-med-2) {
  th.timeInt-col, 
  td.col-name-timeInt {
    display: table-cell;
  }
}

// generated ng-repeat chunks
.mdwkScheduleGen {
  margin-top: 3em; 
}

/* Misc Utilities */
.smallTxtCell {
  font-size: 0.79em;
}



/*
$treasuresCol: #4e565d; // rgba(78,86,93,1)
$applyCol: #b37427; // rgba(179,116,39,1)
$livingCol: #82001d; // rgba(130,0,29,1)
$themeCol: #E8E8E8; // rgb(229,248,205)
$themeHighlightCol: darkgray;
$themebodyCol: #efeff1;
*/