/* Reset browser defaults
 ***** adapted from: http://jaydenseric.com/blog/forget-normalize-or-resets-lay-your-own-css-foundation

*/
html {
  /* prevents browsers from zooming, 
  ** still allows users to pinch to zoom */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  /* resets margin, 
  ** normalizes default font-size and line-height, 
  ** optimizes font-smoothing */
  margin: 0;
  font: 17px/1 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #efeff1; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main,
li {
  /* fixes IE bug with <main>,
  ** gets rid of bullet points */
  display: block; }

h1,
h2,
h3,
h4 {
  /* font size inherit from surrounding text
  ** determined by placement in DOM */
  font-size: inherit; }

a,
button {
  /* reset hyperlinks and buttons, apply
  ** animation duration */
  color: inherit;
  transition: .3s; }

a {
  /* remove default styling on links */
  text-decoration: none; }

button {
  /* reset native appearance, gives
  ** buttons a pointer cursor appearance */
  overflow: visible;
  /* for IE */
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  /* fixes ugly Mozilla bug */
  padding: 0;
  border: 0; }

img {
  /* responsive images: respect size
  ** of container, aspect ratio preserved */
  max-width: 100%;
  height: auto;
  border: 0; }

input[type="text"],
input[type="number"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: inherit, sans-serif;
  font-size: 1em;
  appearance: none;
  box-shadow: none;
  border-radius: 0; }

input[type="text"]:focus,
input[type="number"]:focus {
  outline: none; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  /* Removes leftover margin */ }

input[type=number] {
  -moz-appearance: textfield; }

input[type="text"],
input[type="number"] {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #c9c9c9;
  transition: border 0.3s; }

input[type="text"]:focus,
input[type="number"]:focus {
  border-bottom: 2px solid #969696; }

/* MIXINS */
/* variables for breakpoints */
/* color variables */
#omni-wrapper {
  width: 100%;
  background-color: #efeff1;
  padding-left: 1.1em;
  padding-right: 1.1em;
  box-sizing: border-box; }

@media all and (min-width: 60em) {
  #omni-wrapper {
    width: 85%;
    max-width: 60em;
    margin-left: auto;
    margin-right: auto; } }
/* utilities */
.italics {
  font-style: oblique; }

.centered {
  text-align: center; }

.collapsable {
  cursor: pointer; }

.collapsed {
  display: none; }

.hasDescription {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.hasDescription:after {
  content: " \25BE";
  color: black; }

.no-bold {
  font-weight: 400; }

.assignment_desc {
  background-color: rgba(255, 255, 255, 0.25);
  padding-left: 0.17em;
  font-size: 0.8em;
  line-height: 1.2em; }

.hasVideoThumb {
  height: 1em; }

.ajax-loading {
  height: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.largeletterSmall {
  font-size: 1.2em; }

.notification {
  background-color: red; }

.dropdown-arrow {
  float: right;
  margin-right: 0.3em;
  font-size: 0.7em;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out; }

.rotate-collapsed {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

.formErrorFeedback {
  color: red;
  font-size: 0.85em;
  line-height: 1.2em; }

.float-clearfix:after {
  content: "";
  display: table;
  clear: both; }

.error {
  color: red; }

/* Header */
header {
  background-color: #E8E8E8;
  border-bottom: 1px solid darkgray;
  color: black;
  text-align: center;
  margin-bottom: 0em;
  padding: 0.3em; }
  header #logo-right {
    height: 1.2em; }
  header h3 {
    font-size: 1.38em;
    font-weight: 400;
    padding-bottom: 0.2em; }
  header h4 {
    font-size: 1em;
    font-weight: 400;
    text-decoration: underline; }
  header #errNotifications {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    color: red; }

/* FOOTER */
footer {
  margin-top: 0em;
  font-size: 0.7em;
  border-top: 1px solid darkgray;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  background-color: #E8E8E8; }

/* CSS customized for apps page */
body {
  color: #333;
  font-family: "Raleway", 'HelveticaNeue-Light', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

header {
  padding-bottom: 0; }

a {
  color: #00484b; }

a:hover {
  text-decoration: underline;
  color: #008185; }

#navLinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  #navLinks ul:after {
    content: "";
    display: block;
    clear: both; }
  #navLinks li {
    background-color: #bca9cd;
    border-bottom: 1px solid white;
    height: 2em;
    line-height: 2em; }
    #navLinks li a {
      display: block;
      padding: 0em 0.2em 0em 0.2em;
      color: white; }
  #navLinks a:hover {
    background-color: #463358;
    color: white;
    text-decoration: none; }

@media all and (min-width: 39.8em) {
  #navLinks ul {
    display: inline-block; }
  #navLinks li {
    float: left; }
    #navLinks li a {
      padding: 0em 0.7em 0em 0.7em; } }
@media all and (min-width: 60em) {
  #navLinks ul {
    display: inherit;
    width: 100%; }
  #navLinks li {
    width: 25%; }
  #navLinks #navLinks {
    max-width: 50em; }

  #navLinks {
    max-width: 55em; } }
/* BOOTSTRAP - customize styles */
.btn {
  font-size: 1em;
  border: 1px solid grey; }

.btn.btn-primary {
  background-color: #37a8c6;
  color: white; }

.btn.btn-primary:hover {
  background-color: #339bb7; }

hr {
  border-color: #b3b3b3; }

#pageHeader {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.5em; }

/* ***** BROTHERS VIEW ***** */
#view-all-brothers input.brotherSearchMain {
  width: 100%;
  max-width: 30em;
  float: left; }
#view-all-brothers input.brotherSearchMain:focus {
  border-bottom-color: #0057aa; }
#view-all-brothers .addBrotherButton {
  float: right;
  line-height: 2.2em; }
#view-all-brothers .brother-list-item {
  background-color: #d2ccf1;
  border: 0.3em solid white;
  margin-top: 0.4em;
  padding: 0.5em;
  box-sizing: border-box; }
#view-all-brothers .brother-list-item:hover {
  border-color: #9999cc; }
#view-all-brothers .elder-list-item {
  background-color: #a5c59b; }
#view-all-brothers .ms-list-item {
  background-color: #8abfc7; }
#view-all-brothers .brotherName {
  font-size: 1.1em; }
#view-all-brothers .prvlg {
  background-color: #a45c8d;
  color: white;
  margin-right: 0.3em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  border-radius: 0.2em;
  padding: 0.4em;
  margin-top: 1em;
  display: inline-block; }
#view-all-brothers .role {
  display: inline-block;
  width: 2em;
  background-color: cadetblue;
  color: white;
  border-radius: 2px;
  padding: 3px;
  text-transform: uppercase;
  text-align: center; }
#view-all-brothers .role.elder {
  background-color: darkslategray; }
#view-all-brothers img.brother-ctrls {
  margin-top: 0.5em;
  width: 1em;
  margin-right: 0.5em;
  cursor: pointer; }
#view-all-brothers .no-results {
  margin: 1em 0 1em 0;
  font-size: 1.2em;
  font-style: oblique; }
#view-all-brothers .add-no-results {
  font-style: oblique;
  font-weight: 600; }

/* ***** BROTHER-EDIT VIEW ***** */
.notificationsPane {
  padding-top: 0.8em;
  text-align: center; }

.notificationsPane.warning {
  color: red; }

#brother-edit-view .header-brother-edit-name {
  color: black; }
#brother-edit-view .pageIcon {
  width: 1em;
  margin-right: 0.45em; }
#brother-edit-view .edit-brother-form {
  margin-top: 1em; }
#brother-edit-view input[type="text"] {
  font-size: 1em;
  color: #333; }
#brother-edit-view input[type="text"]:focus {
  border-bottom-color: #009649; }
#brother-edit-view .form-group {
  margin-bottom: 0.35em; }
#brother-edit-view .form-group-head {
  margin-bottom: 0.8em;
  background-color: #a8abc2;
  color: white;
  font-size: 1.4em;
  padding: 0.2em 0em 0.2em 0em;
  width: 100%;
  text-align: center;
  margin-bottom: 0.35em; }
#brother-edit-view .form-group-head.mdwkFilterHead {
  background-color: #392046; }
#brother-edit-view .form-group-head.pubFilterHead {
  background-color: #b37427; }
#brother-edit-view .form-group-head.miscFilterHead {
  background-color: #a5c59b; }
#brother-edit-view li {
  margin-bottom: 0.3em;
  font-size: 1em; }
#brother-edit-view .preview-header {
  font-size: 1.2em;
  text-decoration: underline;
  margin-bottom: 0.4em; }
#brother-edit-view .previewChanges {
  width: 100%;
  box-sizing: border-box;
  background-color: #657f90;
  color: white;
  font-size: 1em;
  padding: 1em;
  margin-bottom: 0.8em; }
#brother-edit-view .preview-prvlgs {
  margin-top: 0.4em;
  font-size: 0.9em; }
#brother-edit-view .hasPrvlg {
  color: white; }
#brother-edit-view .noPrvlg {
  color: floralwhite;
  text-decoration: line-through; }
#brother-edit-view .submitForm {
  margin-top: 0.45em;
  margin-bottom: 0.2em; }
@media all and (min-width: 60em) {
  #brother-edit-view div.edit-brother-form {
    width: 65%;
    float: left; }
  #brother-edit-view div.previewChanges {
    float: right;
    margin-top: 3em;
    width: 30%; }
  #brother-edit-view .float-parent-clearfix:after {
    content: "";
    display: table;
    clear: both; } }

/* ***** MDWK MEETING - VIEWS ***** */
.asgmt-page {
  /* SPECIAL MEDIA QUERIES */ }
  .asgmt-page .header {
    text-align: center;
    margin-top: 0.7em; }
    .asgmt-page .header h2 {
      font-size: 2em; }
    .asgmt-page .header h4 {
      font-size: 1em; }
    .asgmt-page .header .date {
      text-decoration: underline; }
  .asgmt-page .week-date-container {
    color: black;
    margin-bottom: 0.6em;
    padding: 0.2em 0em 0.2em 0em;
    border-bottom: 1px dotted gray; }
    .asgmt-page .week-date-container h2 {
      text-transform: uppercase; }
    .asgmt-page .week-date-container .week-date {
      float: left; }
    .asgmt-page .week-date-container .weeklyBibReadingDisp {
      float: right;
      text-transform: uppercase;
      line-height: 2.8em; }
    .asgmt-page .week-date-container .chairmanDisp {
      font-size: 1.0em; }
  .asgmt-page .mdwkMtgWeekFormGroup {
    margin-bottom: 1.8em; }
  .asgmt-page li {
    vertical-align: middle; }
  .asgmt-page .mtgData {
    margin-top: 1.5em; }
  .asgmt-page .top-row {
    font-size: 0.9em; }
  .asgmt-page .chairman {
    float: left; }
  .asgmt-page .introSong {
    float: right; }
  .asgmt-page .duration {
    font-size: 0.8em;
    background-color: #4e565d;
    width: 4em;
    height: 1.6em;
    color: white;
    border-radius: 0.6em;
    text-align: center;
    margin-right: 0.8em;
    float: left; }
  .asgmt-page .midSong {
    padding-top: 0.3em;
    font-size: 0.9em; }
  .asgmt-page .asgmtTitle {
    padding-left: 0.4em;
    float: left; }
  .asgmt-page .assignee {
    float: right;
    margin-right: 0.4em; }
  .asgmt-page .assignee:last-child {
    padding-right: 0em;
    margin-right: 0em; }
  .asgmt-page .mdwk-section {
    margin-top: 1.6em;
    padding-left: 0.35em; }
  .asgmt-page .mdwk-section-head {
    text-align: center;
    font-size: 1.3em;
    background-color: #4e565d;
    color: white;
    padding: 0.25em 0 0.25em 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
  .asgmt-page .mdwk-section-content {
    border: 1px solid #4e565d;
    padding: 0em 0.4em 0em 0.5em;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; }
  .asgmt-page .mdwk-asgmt {
    line-height: 1.2em;
    margin-top: 0.8em;
    border-bottom: 1px dotted #4e565d;
    padding-bottom: 0.2em; }
  .asgmt-page .mdwk-asgmt:last-child {
    border-bottom: none; }
  .asgmt-page .treasures > .mdwk-section-head {
    background-color: #4e565d; }
  .asgmt-page .treasures > .mdwk-section-content {
    border-color: #4e565d;
    background-color: rgba(78, 86, 93, 0.1); }
  .asgmt-page .treasures .duration {
    background-color: #4e565d; }
  .asgmt-page .treasures .mdwk-asgmt {
    border-bottom-color: #4e565d; }
  .asgmt-page .applyYourself > .mdwk-section-head {
    background-color: #b37427; }
  .asgmt-page .applyYourself > .mdwk-section-content {
    border-color: #b37427;
    background-color: rgba(179, 116, 39, 0.2); }
  .asgmt-page .applyYourself .duration {
    background-color: #b37427; }
  .asgmt-page .applyYourself .mdwk-asgmt {
    border-bottom-color: #b37427; }
  .asgmt-page .livingAs > .mdwk-section-head {
    background-color: #82001d; }
  .asgmt-page .livingAs > .mdwk-section-content {
    border-color: #82001d;
    background-color: rgba(130, 0, 29, 0.1); }
  .asgmt-page .livingAs .duration {
    background-color: #82001d; }
  .asgmt-page .livingAs .mdwk-asgmt {
    border-bottom-color: #82001d; }
  .asgmt-page .conc {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 0.9em; }
  .asgmt-page .clearfix:after {
    content: "";
    display: table;
    clear: both; }
  .asgmt-page .month-icon {
    border: 1px solid black;
    overflow: visible;
    text-transform: uppercase;
    text-align: center;
    width: 4em;
    height: 4em;
    display: inline-block;
    /* browser treats all elems as single-line */
    padding-top: 1.35em;
    /* vertical align */
    margin-left: 0.3em;
    margin-bottom: 0.3em;
    box-sizing: border-box;
    background-color: #002548;
    color: white; }
  .asgmt-page .month-icon:hover {
    border-color: white;
    cursor: pointer; }
  .asgmt-page #year-overview {
    text-align: center;
    /* horizontally centers contained elems */ }

.mdwkMtgForm .form-group {
  margin-bottom: 10px; }
.mdwkMtgForm input.mdwkForm-chairman,
.mdwkMtgForm input.mdwkForm-assignee,
.mdwkMtgForm input.mdwkForm-weeklyBibReading {
  width: 10em;
  display: inline; }
.mdwkMtgForm input.mdwkForm-song {
  width: 5em;
  display: inline; }
.mdwkMtgForm input.mdwkForm-duration {
  width: 2.8em;
  text-align: center;
  display: inline; }
.mdwkMtgForm input.mdwkForm-asgmtTitle {
  width: 100%;
  max-width: 35em;
  display: inline; }
.mdwkMtgForm input.mdwkForm-prayer {
  width: 15em;
  display: inline; }
.mdwkMtgForm input.small-title {
  max-width: 20em; }
.mdwkMtgForm .mdwkForm-treasures {
  border-left: 4px solid #4e565d;
  padding-left: 0.4em; }
.mdwkMtgForm .mdwkForm-applyYourself {
  border-left: 4px solid #b37427;
  padding-left: 0.4em; }
.mdwkMtgForm .mdwkForm-livingAs {
  border-left: 4px solid #82001d;
  padding-left: 0.4em; }
.mdwkMtgForm .form-section-head {
  margin: 0.8em 0em 0.5em 0em;
  text-decoration: underline; }
.mdwkMtgForm .addButton {
  line-height: 0.8em;
  font-size: 1.4em;
  -webkit-border-radius: 1.2em;
  -moz-border-radius: 1.2em;
  -ms-border-radius: 1.2em;
  border-radius: 1.2em; }

input[type="text"].input-treasures:focus,
input[type="number"].input-treasures:focus {
  border-bottom-color: #4e565d; }

input[type="text"].input-applyYourself:focus,
input[type="number"].input-applyYourself:focus {
  border-bottom-color: #b37427; }

input[type="text"].input-livingAs:focus,
input[type="number"].input-livingAs:focus {
  border-bottom-color: #82001d; }

/* TABLE LAYOUT */
table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-size: 0.94em;
  width: 95%; }

td {
  border: 1px solid #ccc; }

table {
  border-bottom: 1px solid #ccc; }

th {
  font-weight: 400;
  font-size: 1.1em; }

td, th {
  height: 1.6em;
  padding-top: .2em;
  padding-bottom: .2em;
  padding-left: 0.18em;
  padding-right: 0.18em; }

.tableWrapper {
  overflow-x: auto; }

/* TABLE specific styles */
.mdwk-assignment-sch th {
  color: #392046;
  text-align: center; }

.mdwk-assignment-sch tr:hover {
  background-color: #ADD8E6;
  color: inherit; }

tr.weekDelimiter:hover {
  background-color: inherit;
  color: inherit; }

.mdwk-assignment-sch .col-name-duration {
  text-align: left; }
.mdwk-assignment-sch .col-name-assignment {
  text-align: left; }
.mdwk-assignment-sch .col-name-timeInt {
  text-align: center; }
.mdwk-assignment-sch .col-name-assignee {
  text-align: center; }

.mdwk-assignment-sch .col-name-assignment.treasures {
  background-color: rgba(78, 86, 93, 0.1); }
.mdwk-assignment-sch .col-name-assignment.applyYourself {
  background-color: rgba(179, 116, 39, 0.18); }
.mdwk-assignment-sch .col-name-assignment.livingAs {
  background-color: rgba(130, 0, 29, 0.1); }
.mdwk-assignment-sch .heading-row {
  text-align: center;
  color: white;
  font-size: 1.4em;
  padding: 0; }
.mdwk-assignment-sch .heading-row.treasures {
  background-color: #4e565d; }
.mdwk-assignment-sch .heading-row.applyYourself {
  background-color: #b37427; }
.mdwk-assignment-sch .heading-row.livingAs {
  background-color: #82001d; }
.mdwk-assignment-sch tr.weekDelimiter {
  border-top: none;
  text-align: center;
  font-size: 1.55em;
  color: black; }
.mdwk-assignment-sch .treasuresRow {
  border-left: 3px solid #4e565d; }
.mdwk-assignment-sch .applyYourselfRow {
  border-left: 3px solid #b37427; }
.mdwk-assignment-sch .livingAsRow {
  border-left: 3px solid #82001d; }
.mdwk-assignment-sch td.midSong-cell {
  font-size: 0.86em;
  padding-left: 0.5em; }
.mdwk-assignment-sch tr.conc {
  font-size: 0.86em; }

.tableWrapper.mdwkMtg {
  border-left: 0.3em solid #392046; }

.tableLabel {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.4em; }

th.timeInt-col,
td.col-name-timeInt {
  display: none; }

@media all and (min-width: 60em) {
  th.timeInt-col,
  td.col-name-timeInt {
    display: table-cell; } }
.mdwkScheduleGen {
  margin-top: 3em; }

/* Misc Utilities */
.smallTxtCell {
  font-size: 0.79em; }

/*
$treasuresCol: #4e565d; // rgba(78,86,93,1)
$applyCol: #b37427; // rgba(179,116,39,1)
$livingCol: #82001d; // rgba(130,0,29,1)
$themeCol: #E8E8E8; // rgb(229,248,205)
$themeHighlightCol: darkgray;
$themebodyCol: #efeff1;
*/

/*# sourceMappingURL=main.css.map */
