<div id="view-all-brothers">

<div id="pageHeader">
  Hermanos de Queens Spanish: 
</div>

<div id="home-widgets">
  <a href="/#/brothers/new"><button class="add-brother-button btn btn-primary">+ Añadir</button></a>
</div>

<div ng-repeat="brother in brothers" class="brother-list-item {{ brother.role }}-list-item">

  <div class="brotherName"><span class="role {{ brother.role }}" title="{{ brother.role | fullLengthMapEs }}">{{ brother.role | abbrMapEs }}</span> {{ (brother.firstName + " " + brother.lastName) }}</div>
  <div>Privilegios: 
    <span class="prvlg" ng-repeat="prvlg in brother.prvlgs" title="{{ prvlg | fullLengthMapEs }}">{{ prvlg | abbrMapEs }}</span>
  </div>
  
  <!-- Controls -->
  <img src="/img/edit.png" class="brother-ctrls" alt="Edit" ng-click="editBrother(brother._id)">
  
  <img src="/img/delete.png" class="brother-ctrls" alt="Delete" ng-click="deleteBrother(brother._id, brother.firstName, brother.lastName, $index)">

  
</div>


</div>

