/* ******** DATE NAV CONTROLS ******** */

/* Navigation Controls */
#nav-ctrl {
  width: 100%;
  margin-top: 0.4em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  text-align: center;
  font-size: 0.8em;
  
  
  #nav-ctrl-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
  }
  
  .nav-ctrls {
  background-color: $themeCol;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  @include border-radius(0.6em);
  @include no-highlight;
  border: 1px solid $themeHighlightCol;
  margin-left: 0.3em;
  float: left;
  cursor: pointer;
  width: 30%;
  }
  
  .nav-ctrls:hover {
    background-color: azure;
    border-color: #392046;
  }

}

#nav-ctrl:after {
  content: "";
  clear: both;
  display: block;
}






/* ******** MAIN CONTENT ******** */

  /* misc */
.content-header {
  background-color: #392046;//$themebodyCol; A4C9C9
  font-weight: 400;
  font-size: 1.5em;
  margin-top: 0.3em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  text-align: center;
  color: white;
}

//.dropdown-arrow {
//  float: right;
//  // necessary for iOS rotations - they seem to rotate on
//  // another axis and this creates overflow and a gap on 
//  // viewport which destroys user-scalable=no property
//  margin-right: 0.3em;
//  font-size: 0.7em;
//  // set initial expanded view
//  -webkit-transform: rotate(-90deg);
//  -ms-transform: rotate(-90deg);
//  transform: rotate(-90deg);
//  // set rotate animation
//  -webkit-transition: -webkit-transform 0.5s ease-in-out;
//  -moz-transition:   -moz-transform 0.5s ease-in-out;
//  -o-transition:   -o-transform 0.5s ease-in-out;
//  transition:    transform 0.5s ease-in-out;
//}


/* Midweek Meeting */
#mdwk-content {
  // variables, tweaks, etc
  $colorlayeropacity: 0.4;
  $themecolor: $themebodyCol; // declared above
  $themecolorAlt: rgba(255,255,255,0.4); //white overlay
  line-height: 1.36em;
  background-color: #efeff1; //$themecolor
  
  #mdwk-content-header-colWrapper {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  #mdwk-intro-weeklyBibleRdng-ins {
    margin-top: 0.2em;
    text-transform: uppercase;
    font-size: 0.6em;
  }  
  
  //** minimize font size of song announcement  
  #mdwk-mid-song {
    font-size: 0.72em;
  }
  
  // default heading style
  .mdwk-heading {
    font-size: 1.2em;
    font-weight: 400;
    text-align: left;
    border-bottom: 1px solid grey;
    padding-top: 0.2em;
  }
  
  
  // float sound and intro-info
  #mdwk-intro-info {
    float: left;
  }
  #mdwk-soundAttPlat {
    float: left;
    font-size: 80%;
    margin-left: 0.5em;
    padding-left: 0.5em;
    border-left: 1px dotted black;
  }
  #mdwk-intro:after {
    content: "";
    display: block;
    clear: both;
  }
  
  
  // assignment style
  .mdwk-assignment {
    margin-bottom: 0.25em;
    color: #333;
  }
  
  // description boxes
  .assignment_desc {
    padding-top: 0.17em;
    padding-bottom: 0.17em;
    padding-left: 0.35em;
    padding-right: 0.35em;
    font-size: 0.8em;
    line-height: 1.35em;
    margin-left: 1em;
    margin-bottom: 0.8em;
//    display: none;
    text-align: left;
  }
  
  
  // begin rest
  #mdwk-intro,
  .mdwk-mtgSection {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 0.2em;
    margin-bottom: 0.6em;
  }
  
  // inner content of mtg sections
  .mdwkDynContentIns {
    margin-top: 0.5em;
    
  }
  
  /* Treasures from God's Word section */
  #mdwk-Treasures {
    background-color: none;
    
    // heading 
    .mdwk-heading {
      background-color: $treasuresCol;
      color: white;
      border-bottom: 2px solid $treasuresCol;
    }
    
    // assigned brother tag
    .mdwk-assignee {
      background-color: $treasuresCol;
      color: white;
    }
    
    // collapse arrow for dynamically added description
    .hasDescription:after {
      // css reads in escaped unicode (downarrow)
      content: " \25BE";
      color: $treasuresCol;
    }
    
    // supp. description box
    .assignment_desc {
      background-color: rgba(78, 86, 93, 0.2); //opaque section color
      border-right: 1px dotted $treasuresCol;
    }
  }
  
  
  /* Apply Yourself to the Ministry section */
  #mdwk-ApplyYourself {
    background-color: none;
    
    // heading 
    .mdwk-heading {
      background-color: $applyCol;
      color: white;
      font-weight: 400;
      border-bottom: 2px solid $applyCol;
    }
    
    // assigned brother
    .mdwk-assignee {
      background-color: $applyCol;
      color: white;
    }
    
    // collapse arrow for dynamically added description
    .hasDescription:after {
      // css reads in escaped unicode (downarrow)
      content: " \25BE";
      color: $applyCol;
    }
    
    // supp. description box
    .assignment_desc {
      background-color: rgba(179, 116, 39, 0.2); //opaque section color
      border-right: 1px dotted $applyCol;
    }
  }
  
  /* Living as Christians section */
  #mdwk-LivingAs {
    background-color: none;
    
    // heading 
    .mdwk-heading {
      background-color: $livingCol;
      color: white;
      font-weight: 400;
      border-bottom: 2px solid $livingCol;
    }
    
    .mdwk-assignee {
      background-color: $livingCol;
      color: white;
    }
    
    // collapse arrow for dynamically added description
    .hasDescription:after {
      // css reads in escaped unicode (downarrow)
      content: " \25BE";
      color: $livingCol;
    }
    
    // supp. description box
    .assignment_desc {
      background-color: rgba(130, 0, 29, 0.2); //opaque section color
      border-right: 1px dotted $livingCol;
    }
  }
  
  
  /* Midweek closing remarks */
  
  
  
  
  /* Miscellaneous */
  
  
  .heading-icon {
    width: 0.9em;
    padding-right: 0.3em;
  }
  
  .mdwk-assignee {
    font-size: 0.9em;
    padding-left: 0.15em;
    padding-right: 0.15em;
    background-color: lightgrey;
    @include border-radius(0.3em);
  }
    
  
  .assignee-treasures {
    color: $treasuresCol;
  }
  
  .assignee-ApplyYourself {
    color: $applyCol;
  }
  
  .assignee-LivingAs {
    color: $livingCol;
  }
  
  .collapsable {
    @include no-highlight;
  }
  
  
  
  
  
  
  /* ****** MEDIA QUERIES ****** */
  @media all and (min-width: $bp-small-2) {
    
    // float Sound/Plat 
    #mdwk-soundAttPlat {
      float: right;
      font-size: 80%;
      margin-right: 1em;
      padding-left: 0.5em;
      border-left: 1px dotted black;
    }
    
    // set width to add small lateral margin
    #mdwk-intro,
    .mdwk-mtgSection{
      width: 87%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0.6em;
    }
    
    // add left border
    #mdwk-Treasures-heading-colWrapper {
      border-left: 1px solid rgba(78,86,93,0.4);
    }
    #mdwk-ApplyYourself-heading-colWrapper {
      border-left: 1px solid rgba(179,116,39,0.4);
    }
    #mdwk-LivingAs-heading-colWrapper {
      border-left: 1px solid rgba(130,0,29,0.4);
    }
    
    // add inner content padding
    .mdwkDynContentIns {
      padding-left: 0.7em;
    }
    
    
    // bring dropdown arrows closer
    .dropdown-arrow {
      margin-right: 0.5em;
    }
    
    
  }
  
  @media all and (min-width: $bp-small-3) {

   #mdwk-soundAttPlat {
      margin-right: 2em;
    }
    
    #mdwk-intro,
    .mdwk-mtgSection {
      width: 87%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1em;
      text-align: left;
      padding-left: 0.2em;
    }
    
    

  }
  
  @media all and (min-width: $bp-med-2) {
    #mdwk-intro {
      width: 50%;
    }
    
    .mdwk-mtgSection {
      margin-bottom: 1.5em;
    }
    
  }
  
}



/* ************ SUNDAY MEETING ************** */
/* ************                ************** */

#sundayMtg {
  line-height: 1.3em;
  
  
  #sundayMtg-content-header {
    
    background-color: $applyCol;
    
  }
  
  #sundayMtg-content-header-colWrapper {
    background-color: $themebodyCol;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
}