<div id="rotationals-main">
  
  <table>
    <thead>
      <td>Privileges on rotation</td>
      <td>Template</td>
      <td>Priority</td>
      <td>Table Location</td>
      <td>Location</td>
    </thead>
    
    <tbody>
      <tr ng-repeat="col in prvlgCols">
        <td>{{ col._id }}</td>
        <td>{{ col.templatePrvlg }}</td>
        <td>{{ col.priority }}</td>
        <td>{{ col.locOrder }}</td>
        <td>{{ col.mtgLoc }}</td>
      </tr>
    </tbody>
  </table>
  
  
  <br>
  
  Now here's the table... 
  
  <br>
  
  <br>
  
  
  <table>
    <thead>
      <td ng-repeat="col in mdwkMtgRotation">{{ col._id }}</td>
    </thead>
    
    <tbody>
      <tr ng-repeat="col in mdwkMtgRotation">
        <td>{{ col._id }}</td>
        <td>{{ col.templatePrvlg }}</td>
        <td>{{ col.priority }}</td>
        <td>{{ col.locOrder }}</td>
        <td>{{ col.mtgLoc }}</td>
      </tr>
    </tbody>
  </table>
  
  
  
  
  <table>
    <thead>
      <td ng-repeat="col in wkndMtgRotation">{{ col._id }}</td>
    </thead>
    
    <tbody>
      <tr ng-repeat="col in wkndMtgRotation">
        <td>{{ col._id }}</td>
        <td>{{ col.templatePrvlg }}</td>
        <td>{{ col.priority }}</td>
        <td>{{ col.locOrder }}</td>
        <td>{{ col.mtgLoc }}</td>
      </tr>
    </tbody>
  </table>
  
  
  
</div>