// base project variables

/* MIXINS */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin no-highlight {
  -webkit-touch-callout: none; // iOS Safari
  -webkit-user-select: none; // Chrome/Safari/Opera
  -khtml-user-select: none; // Konqueror
  -moz-user-select: none; // Firefox
  -ms-user-select: none; // IE/Edge
  user-select: none; // non-prefixed version - currently not supported by any browser
}

@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -ms-transform: rotate($deg);
  transform: rotate($deg);
}



/* variables for breakpoints */
$bp-small: 24em;
$bp-small-2: 29.75em;
$bp-small-3: 39.8em;
$bp-med: 46.8em;
$bp-med-2: 60em;
$bp-large: 50em;
$bp-large-2: 54.5em;
$bp-xl: 60em;
$bp-xl-2: 67em;
$bp-xl-3: 75em;
$bp-xl-4: 80em;


/* color variables */
$treasuresCol: #4e565d; // rgb(78,86,93)
$applyCol: #b37427; // rgb(179,116,39)
$livingCol: #82001d; // rgb(130,0,29)
$themeCol: #E8E8E8; // rgb(229,248,205)
$themeHighlightCol: darkgray;
$themebodyCol: #efeff1;
$monthlyCol: #392046;
//$themebodyCol: #a5c59b; // old green color
//$themebodyCol: rgba(98,68,109,1); // old purple color



#omni-wrapper {
  width: 100%;
  background-color: #efeff1;
  padding-left: 1.1em;
  padding-right: 1.1em;
  box-sizing: border-box;
}

@media all and (min-width: $bp-med-2) {
  #omni-wrapper {
    width: 85%;
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
  }
  
}