/* FOOTER */

footer {
  margin-top: 0em;
  font-size: 0.7em;
  border-top: 1px solid $themeHighlightCol;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  background-color: $themeCol;
}
