/* Header */
header {
  background-color: $themeCol;
  border-bottom: 1px solid $themeHighlightCol;
  color: black;
  text-align: center;
  margin-bottom: 0em;
  padding: 0.3em;
  
  #logo-right {
    height: 1.2em;
  }
  
  h3 {
    font-size: 1.38em;
    font-weight: 400;
    padding-bottom: 0.2em;
  }
  
  h4 {
    font-size: 1em;
    font-weight: 400;
    text-decoration: underline;
  }
  
  #errNotifications {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    color: red;
  }
}
