/* Reset browser defaults
 ***** adapted from: http://jaydenseric.com/blog/forget-normalize-or-resets-lay-your-own-css-foundation

*/

html {
  /* prevents browsers from zooming, 
  ** still allows users to pinch to zoom */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  /* resets margin, 
  ** normalizes default font-size and line-height, 
  ** optimizes font-smoothing */ 
  margin: 0;
  font: 17px/1 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #efeff1; 
    // #f2f1ef; light gray color -green: #a5c59b
}

h1,
h2,
h3,
h4,
h5, 
h6,
p,
blockquote,
figure,
ol,
ul {
    margin: 0;
    padding: 0;
}

main,
li {
  /* fixes IE bug with <main>,
  ** gets rid of bullet points */
  display: block;
}


h1,
h2,
h3,
h4 {
  /* font size inherit from surrounding text
  ** determined by placement in DOM */
//  font-size: inherit;
}

h1 {
  font-size: 2.2em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1.0em;
}
h6 {
  font-size: 0.6em;
}
 

a,
button {
  /* reset hyperlinks and buttons, apply
  ** animation duration */
  color: inherit;
  transition: .3s;
}

a {
  /* remove default styling on links */
  text-decoration: none;
}

button {
  /* reset native appearance, gives
  ** buttons a pointer cursor appearance */
  overflow: visible; /* for IE */
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
 
}

::-moz-focus-inner {
  /* fixes ugly Mozilla bug */
  padding: 0;
  border: 0;
}

img {
  /* responsive images: respect size
  ** of container, aspect ratio preserved */
  max-width: 100%;
  height: auto;
  border: 0;
}

// ********** RESET INPUTS ********** //
input[type="text"],
input[type="number"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: inherit, sans-serif;
  font-size: 1em;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"] {
  outline: none;
} 

// remove increment/decrement controls on number type
// - Chrome & Safari
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0; /* Removes leftover margin */
}
// - Firefox
input[type=number] {
  -moz-appearance: textfield;
}




// the "underline" effect
input[type="text"],
input[type="number"],
input[type="password"] {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #c9c9c9;
  transition: border 0.3s;
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #969696;
}