/* utilities */

.italics {
  font-style: oblique;
}

.centered {
  text-align: center;
}

.collapsable {
  cursor: pointer; 
}

.collapsed {
  display: none;
}

.hasDescription {
  cursor: pointer;
  @include no-highlight;
}

.hasDescription:hover {
//  color: blue;
}
  
.hasDescription:after {
  // css reads in escaped unicode (downarrow)
  content: " \25BE";
  color: black;
}

.no-bold {
  font-weight: 400;
}

// default style
.assignment_desc {
  background-color: rgba(255,255,255,0.25);
  padding-left: 0.17em;
  font-size: 0.8em;
  line-height: 1.2em;
//  display: none;
}

.hasVideoThumb {
  height: 1em;
}

.ajax-loading {
  height: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.largeletterSmall {
  font-size: 1.2em;
}

.notification {
  background-color: red;
}


.dropdown-arrow {
  float: right;
  // necessary for iOS rotations - they seem to rotate on
  // another axis and this creates overflow and a gap on 
  // viewport which destroys user-scalable=no property
  margin-right: 0.3em;
  font-size: 0.7em;
  // set initial expanded view
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  // set rotate animation
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition:   -moz-transform 0.5s ease-in-out;
  -o-transition:   -o-transform 0.5s ease-in-out;
  transition:    transform 0.5s ease-in-out;
}
.rotate-collapsed {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.formErrorFeedback {
  color: red;
  font-size: 0.85em;
  line-height: 1.2em;
}

.float-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.error {
  color: red;
}

.click-icon {
  cursor: pointer;
  @include no-highlight;
}

.no-highlight {
  @include no-highlight;
}

//
.wrapper-def-margin {
  margin-right: 0.4em;
  margin-left: 0.4em;
}
.wrapper-def-padding {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.clear-side-padding {
  padding-left: 0em;
  padding-right: 0em;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}