<div id="my-account-view">
  
  
  <header class="my-account-header">
    <div class="header-greeting">
      Hola, Persona
    </div>
    
    
    <div class="header-nav">
      <div class="nav-button">Configuración</div>  
    </div>
  
  
  </header>
  
  
  <div class="home-widgets-container">
    
    <div class="widget">
      <div class="widget-header">Próximas asignaciones</div>
      <div class="widget-body">
        <li>Asignación</li>
        <li>Asignación</li>
        <li>Asignación</li>
        <li>Asignación</li>
      </div>
    </div>
    
    <div class="widget">
      <div class="widget-header">Notificaciones</div>
      <div class="widget-body">
        <li>Notificación</li>
        <li>Notificación</li>
        <li>Notificación</li>
        <li>Notificación</li>
      </div>
    </div>
    
  </div>
  
  <div class="home-main-widget">
    <div class="widget-head">Vida y Ministerio</div>
  </div>
  
  
</div>