<div id="mdwk-create-new" class="asgmt-page">
  

  
  <style>
    @media all and (min-width: 50em) {
      #omni-wrapper {
        width: 100%;
        max-width: 65em;
      }
    }
  </style>

  <div class="notificationsPane" ng-class="notificationsPane.type">
    {{ notificationsPane.message | httpStatusEs }}
  </div>

    
  <div class="header">
    <h2 class="mdwkmtg">Vida y Ministerio Cristianos</h2>
    <h4 class="date">{{ mdwkMtgDate | date:'MMMM yyyy' }}</h4>
    
    <div class="weeks-at-a-glance">
      <span class="wk-ico" ng-repeat="week in mdwkMtgData"><i class="fa fa-calendar" aria-hidden="true"></i> {{ week.date | date:'d'  }} <span ng-if="!$last"> • • • </span> </span>
    </div>
    
  </div>
    
  
  <div class="mdwkMtgWeekFormGroup" ng-repeat="week in mdwkMtgData">
   
    <div class="week-date-container float-clearfix">
      <div class="week-date"><h2>{{ week.date | date:'MMMM d' }}</h2>
        <div class="chairmanDisp">{{ week.chairman }}</div>
      </div>
      
      <div class="weeklyBibReadingDisp">{{ week.weeklyBibReading }}</div>

      <br>
      
    </div> 
    
    
    
    <!-- Form directive -->
    <div class="mdwkMtgWeek" 
    mdwk-mtg-form week-data="week" 
    brothers="brothers" week-index="{{$index}}" 
    add-assignee-id="addAssigneeId(wkIndex, section, index, brother, secondaryIndex)" 
    add-living-as-tk="addLivingAsTk(wkIndex)" 
    remove-living-as-tk="removeLivingAsTk(wkIndex, tkIndex)"
    reg-visit-transform="regVisitTransform(weekObj)"
    co-visit-transform="coVisitTransform(weekObj)">
    </div>
    
  </div>
  
  
  
  <button type="submit" class="btn btn-success" ng-click="submitMtgs()">GUARDAR</button>
  

   
  
    
  
</div>










