<div id="mdwk-overview" class="asgmt-page">
  
  
  <div class="notificationsPane" ng-class="notificationsPane.type">
    {{ notificationsPane.message | httpStatusEs }}
  </div>

  
  
  
  
  <div class="page-header">
    <h1 class="mdwkmtg">Vida y Ministerio Cristianos</h1>
    <div class="secondary-row">
        <a class="link-to-month" href="/#!/mdwkMtg/view/{{ todayData.date | date: 'M-yyyy' }}">{{ todayData.date | date: 'MMMM yyyy' }}</a>
    </div>
    <div class="mdwk-header-images">
      <img src="/img/Treasures.png" alt="" class="mdwk-img-logo">
      <img src="/img/ApplyYourself.png" class="mdwk-img-logo" alt="">
      <img src="/img/LivingAs.png" alt="" class="mdwk-img-logo">
    </div>
  </div>
    
  
  <div id="year-overview" class="clearfix">
   
    <div class="year-overview-header" ng-click="toggleYearOverview()">
      <i class="fa fa-calendar" aria-hidden="true"></i>
        Programas Vida y Ministerio
<!--       {{ todayData.date | date: 'longDate' }}-->
      <i class="fa fa-angle-down" aria-hidden="true"></i>
    </div>
   
    <div class="year-overview-months" ng-hide="yearOverviewCollapsed">
      <a href="#!/mdwkMtg/view/{{month.format('MM-YYYY')}}" ng-repeat="month in displayMonths" class="month-wrapper">
        <div class="month-icon" ng-class="{ 'currentMonth' : month.isSame(todayMoment, 'month'),
        'complete' : month.query.isComplete  }">
          <span><i ng-if="month.query.isComplete" class="fa fa-check chosenMonth" aria-hidden="true"></i><br></span>
          <span class="month">{{ month.toDate() | date : 'MMM' }}</span>
          <br>
          <span class="year">'{{ month.toDate() | date: 'yy' }}</span>
        </div>
      </a>  
    </div>
    
    
    <div class="year-overview-notifications" ng-hide="yearOverviewCollapsed">
<!--
      <i class="fa fa-check-circle" aria-hidden="true"></i>
       Está al corriente con los programas Vida y Ministerio
       <br>
       
      <i class="fa fa-check-circle" aria-hidden="true"></i>
       Próximo programa sin hacer: diciembre 2016
-->
    </div>
    
  </div> 
  
  <div class="monthNotFound" ng-if="notificationsPane.message==404" >
    <h2>
      :/
      <br>
      Oh! Aun no hay programa para el mes de {{ todayDate | date: 'MMMM' }}!
      <br>

      <a href="#!/mdwkMtg/edit/{{mdwkMtgMoment.month() + 1}}-{{mdwkMtgMoment.year()}}">Le gustaría crearlo?</a> 
    </h2>
  </div>
  
  
  
  <div class="mtgData" ng-if="notificationsPane.message!==404">
    <div class="header">
      <div class="primary-row">
       <i class="fa fa-hand-o-right" aria-hidden="true"></i>
       Hoy: Semana de {{ todayData.date | date : medium  }} - {{ todayData.weeklyBibReading }} 
        <span ng-if="todayData.specialWk" class="specialWkMsg"><i class="fa fa-info-circle" aria-hidden="true" title="{{todayData.specialWkMsg}}"></i>
        </span>
      </div>
      
    </div>
    
    <div ng-if="todayData.specialWk" class="specialWkMsg">
      <i class="fa fa-star" aria-hidden="true"></i>
      {{ todayData.specialWkMsg }}
      <i class="fa fa-star" aria-hidden="true"></i>
    </div> 
   
    <div ng-if="!todayData.specialWk" id="mdwkOneMtg">
      <div class="chairman"><strong>Presidente: </strong>{{ todayData.chairman }}</div>
      <div class="introText">Canción {{ todayData.introSong }} y oración, palabras de introducción (3 min. o menos)</div>
      
      
     <div class="mdwk-section treasures">
        <div class="mdwk-section-head">
          <img src="/img/Treasures.png" alt="" class="mdwk-img-logo">Tesoros de la Bíblia
        </div>
        <div class="mdwk-section-content treasures">
          <li class="mdwk-asgmt clearfix" ng-repeat="part in todayData.treasuresCollection">
           
           <div class="asgmtTitle">{{ part.asgmtTitle }}</div>
           
            <div class="duration"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ part.duration }} min.</div>
            
            <div class="assignee" title="{{ part.assignee | checkQuant }}"><i class="fa fa-user" aria-hidden="true"></i>  {{ part.assignee | checkQuant }}</div>
            
            <div class="right-side-widgets">
              <div class="hasMedia">
                <i class="fa fa-film" aria-hidden="true" ng-if="part.hasMedia" title="Contiene media"></i>
              </div>
              <div class="hasAudParticipation">
                <i class="fa fa-users" aria-hidden="true" ng-if="part.hasAudParticipation" title="Participación con auditorio"></i>
              </div>
            </div>
            
          </li>
        </div>
        
     </div>
     
     <div class="mdwk-section applyYourself">
        <div class="mdwk-section-head">
          <img src="/img/ApplyYourself.png" alt="" class="mdwk-img-logo">Seamos Mejores Maestros
        </div>
        <div class="mdwk-section-content applyYourself">
          <li class="mdwk-asgmt clearfix" ng-repeat="part in todayData.applyYourselfCollection">
            
            <div class="asgmtTitle">{{ part.asgmtTitle }}</div>
            
            <div class="duration"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ part.duration }} min.</div>
            
            <div class="assignee" title="{{ part.assignee | checkQuant }}"><i class="fa fa-user" aria-hidden="true"></i>  {{ part.assignee | checkQuant |firstInitialLast }}</div>
            
            <div class="right-side-widgets">
              <div class="hasMedia">
                <i class="fa fa-film" aria-hidden="true" ng-if="part.hasMedia" title="Contiene media"></i>
              </div>
              <div class="hasAudParticipation">
                <i class="fa fa-users" aria-hidden="true" ng-if="part.hasAudParticipation" title="Participación con auditorio"></i>
              </div>
            </div>
            
          </li>
        </div>
         
     </div>
     
     <div class="mdwk-section livingAs">
        <div class="mdwk-section-head">
          <img src="/img/LivingAs.png" alt="" class="mdwk-img-logo">Nuestra Vida Cristiana
        </div>
        <div class="mdwk-section-content livingAs">
          <li class="mdwk-asgmt midSong">Canción {{ todayData.midSong }} </li>
          <li class="mdwk-asgmt clearfix" ng-repeat="part in todayData.livingAsCollection">
            
            <div class="asgmtTitle">{{ part.asgmtTitle }}</div>
            
            <div class="duration"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ part.duration }} min.</div>
            
            <div class="assignee" title="{{ part.assignee | checkQuant }}"><i class="fa fa-user" aria-hidden="true"></i>  {{ part.assignee | checkQuant }}</div>
            <div class="reader" title="{{ part.reader }}" ng-if="part.asgmtCode === 'CBS'">(Lector: {{ part.reader | checkQuant | firstInitialLast }})</div>
            
            <div class="right-side-widgets">
              <div class="hasMedia">
                <i class="fa fa-film" aria-hidden="true" ng-if="part.hasMedia" title="Contiene media"></i> 
              </div>
              <div class="hasAudParticipation">
                <i class="fa fa-users" aria-hidden="true" ng-if="part.hasAudParticipation" title="Participación con auditorio"></i> 
              </div>
            </div>
            
          </li>
        </div>
        
     </div>
     
      
      
      <div class="conc">
        <i class="fa fa-refresh" aria-hidden="true"></i> Repaso y adelanto (3 min.), canción: {{ todayData.concSong }} - oración por {{ todayData.concPrayer }}
        <br>
        <div class="concNotaBene" ng-if="todayData.concNotaBene">
          <em>Nota:</em> {{todayData.concNotaBene}}
        </div>
      </div>
      
    </div>
  </div>
  
  
</div>