<div class="mdwk-mtg-month-view">

  <div id="mdwk-overview" class="asgmt-page">
    <div class="notificationsPane" ng-class="notificationsPane.type">
      {{ notificationsPane.message | httpStatusEs }}
    </div>


    <div class="header">
      <div class="view-widgets-container clearfix" ng-if="!error">
        <div class="float-left">
          <div class="backButton">
            <a href="/#!/mdwkMtg"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Vida y Ministerio</a>
          </div>
        </div>
        
        <div class="float-right">
          <div class="editButton">
            <a href="#!/mdwkMtg/edit/{{ mdwkMtgMoment.month()+1 }}-{{ mdwkMtgMoment.year() }}">Editar <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
          </div>
          <div class="printButton">
            <a ng-click="printPage()">Imprimir <i class="fa fa-print" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      
      
      
      <h2 class="mdwkmtg">Vida y Ministerio Cristianos</h2>
      <h3 class="monthAnnc">{{ mdwkMtgDate | date : 'MMMM yyyy' }}</h3>
      <div class="mdwk-header-images">
        <img src="/img/Treasures.png" alt="" class="mdwk-img-logo">
        <img src="/img/ApplyYourself.png" class="mdwk-img-logo" alt="">
        <img src="/img/LivingAs.png" alt="" class="mdwk-img-logo">
      </div>
    </div>

   
   <!-- Document not found, or other error -->
   <div ng-if="error" class="loadErrorWrapper">
    <hr>
     <div ng-if="error.status === 404" class="errorDescription">
        {{ error.status }}. Aun no hay programa para {{ mdwkMtgDate | date: 'MMMM' }}. <br>
       
        <a href="#!/mdwkMtg/edit/{{mdwkMtgMoment.month() + 1}}-{{mdwkMtgMoment.year()}}">Le gustaría crearlo?</a>
     </div>
   </div>
   
   
   <!-- Document loaded, display-->
   <div ng-if="!error">
      <!-- Begin ng-repeat -->
      <div class="week-data" ng-repeat="week in monthData">
       
        <header ng-class="{ specialWk : week.specialWk }" class="float-clearfix">
          <div class="week-date float-left"><i class="fa fa-star" aria-hidden="true" ng-if="week.specialWk"></i> {{ week.date | date : 'MMMM d'  }}</div>  
          
          <div class="weekly-bib-reading float-right" ng-hide="week.specialWk==='assembly'"><i class="fa fa-book" aria-hidden="true"></i> {{ week.weeklyBibReading }}</div>
          
          <div class="specialWkMsg float-right" ng-if="week.specialWkMsg">  {{ week.specialWkMsg }}</div>
          <div class="specialWkMsg float-right" ng-if="week.specialWk==='co'">Visita del supt. de circuito</div>
        
        </header>

        <div class="mtgContentContainer" ng-hide="week.specialWk==='assembly'">
          <div class="intro-container">

            <div class="row-one clearfix">
              <div class="float-left">
                <div class="chairman"><strong>Presidente: </strong>{{ week.chairman }}</div>
              </div>

              <div class="float-right">
                <div class="introText">Canción {{ week.introSong }} y oración, palabras de introducción (3 min. o menos)</div>
              </div>
            </div> 

          </div>

          <div class="mdwk-section treasures-collection-container">
            <div class="mdwk-section-head treasures">
              <img src="/img/Treasures.png" alt="" class="mdwk-img-logo">
              Tesoros de la Bíblia
            </div>
            <div class="mdwk-section-content">
              <li class="mdwk-asgmt clearfix" ng-repeat="part in week.treasuresCollection">
                <div class="duration">{{ part.duration }} min.</div>
                <div class="asgmtTitle">{{ part.asgmtTitle }}</div>
                <div class="assignee">{{ part.assignee | checkQuant }}</div>

              </li>
            </div>
          </div>

          <div class="mdwk-section apply-yourself-container">
            <div class="mdwk-section-head applyYourself">
              <img src="/img/ApplyYourself.png" alt="" class="mdwk-img-logo">
              Seamos Mejores Maestros
            </div>
            <div class="mdwk-section-content applyYourself">
              <li class="mdwk-asgmt clearfix" ng-repeat="part in week.applyYourselfCollection">

                <div class="duration">{{ part.duration }} min.</div>
                <div class="asgmtTitle">{{ part.asgmtTitle }}</div>
                <div class="assignee">{{ part.assignee | checkQuant }}</div>

              </li>
            </div>
          </div>

          <div class="mdwk-section living-as-container">
            <div class="mdwk-section-head livingAs">
              <img src="/img/LivingAs.png" alt="" class="mdwk-img-logo">
              Nuestra Vida Cristiana
            </div>
            <div class="mdwk-section-content livingAs">
              <li class="mdwk-asgmt midSong">Canción {{ week.midSong }} </li>
              <li class="mdwk-asgmt clearfix" ng-repeat="part in week.livingAsCollection">

                <div class="duration">{{ part.duration }} min.</div>
                <div class="asgmtTitle">{{ part.asgmtTitle }}</div>
                <div class="assignee">{{ part.assignee | checkQuant }}</div>
                <div class="reader" title="{{ part.reader }}" ng-if="part.asgmtCode === 'CBS'"> (Lector: {{ part.reader | checkQuant | firstInitialLast }})</div>

              </li>
            </div>
          </div>

          <div class="conc-container">
            Repaso y adelanto (3 min.), canción: {{ week.concSong }} - oración por {{ week.concPrayer }}
            <br>
            <div class="concNotaBene" ng-if="week.concNotaBene">
              <em>Nota:</em> {{week.concNotaBene}}
            </div>
          </div>
        </div>

      </div>  
      
    </div>
    
    
    
    
    
    <div class="mdwk-tab-classic-view" ng-repeat="week in monthData" ng-hide="true">

      <!-- Introduction -->
      <table class="tab-mdwk-section intro">
        <thead>
          <tr class="tab-date-row" ng-if="!week.specialWk">
            <td colspan="2" class="tab-date-cell">{{ week.date | date: 'd MMM'}} - {{ week.weeklyBibReading }}</td>
          </tr>

          <!-- Special Week -->
          <tr class="tab-specialWkMsg-row" ng-if="week.specialWk">
            <td colspan="2" class="tab-specialWkMsg-cell">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              <strong>{{ week.date | date: 'd MMM' }}
                <span ng-if="week.specialWkMsg"> - {{ week.specialWkMsg }}</span></strong>
            </td>
          </tr>
        </thead>

        <tbody ng-if="!week.specialWk">
          <tr class="tab-intro-row">
            <td class="tab-intro-left-cell"><strong>Presidente: {{ week.chairman }}</strong></td>
            <td class="tab-intro-right-cell">Canción {{ week.introSong }} y oración, palabras de introducción (3 min. o menos)</td>
          </tr>
        </tbody>
      </table>



      <!-- Treasures from God's Word -->
      <table class="tab-mdwk-section treasures" ng-if="!week.specialWk">
        <tbody>
          <tr ng-repeat="asgmt in week.treasuresCollection" class="tab-treasures-row">
            <td class="tab-duration-cell">{{ asgmt.duration }} min.</td>
            <td class="tab-asgmtTitle-cell">{{ asgmt.asgmtTitle }}</td>
    <!--            <td class="tab-timeFrame-cell">{{ mtgStartTime.format('h:mm') }} - {{ mtgStartTime.clone().add(asgmt.duration, 'minutes').format('h:mm') }}</td>-->
            <td class="tab-assignee-cell">{{ asgmt.assignee | checkQuant }}</td>
          </tr>
        </tbody>
      </table>


      <!-- Apply Yourself to the Field Ministry -->
      <table class="tab-mdwk-section applyYourself" ng-if="!week.specialWk">    
        <tbody>
          <tr ng-repeat="asgmt in week.applyYourselfCollection" class="tab-applyYourself-row">
            <td class="tab-duration-cell">{{ asgmt.duration }} min.</td>
            <td class="tab-asgmtTitle-cell">{{ asgmt.asgmtTitle }}</td>
            <td class="tab-assignee-cell">{{ asgmt.assignee | checkQuant }}</td>
          </tr> 
        </tbody>
      </table>


      <!-- Living as Christians -->
      <table class="tab-mdwk-section livingAs" ng-if="!week.specialWk">
        <tbody>
          <tr ng-repeat="asgmt in week.livingAsCollection" class="tab-livingAs-row">
            <td class="tab-duration-cell">{{ asgmt.duration }} min.</td>
            <td class="tab-asgmtTitle-cell">{{ asgmt.asgmtTitle }} 
              <span ng-if="asgmt.asgmtCode === 'CBS'">(Lector: {{ asgmt.reader }})</span>
            </td>
            <td class="tab-assignee-cell">{{ asgmt.assignee | checkQuant }}</td>
          </tr>
        </tbody>
      </table>


      <!-- Conclusion -->
      <table class="tab-mdwk-section conc" ng-if="!week.specialWk">
        <tbody>
          <tr class="tab-conc-row">
            <td colspan="3" class="tab-conc-cell">Repaso y adelanto (3 min.), canción {{ week.concSong }} - oración por {{ week.concPrayer }}

            <span ng-if="week.concNotaBene" class="tab-concNotaBene-cell">
              <br><strong>* Nota: {{ week.concNotaBene }}</strong>
            </span>

            </td>
          </tr>

        </tbody>
      </table>      

    </div>
    

    
    
    
    
    
  </div>
 
  
  
</div>

