<div class="preview-header">Vista preliminar</div>

<span class="preview-name">{{ brother.firstName + " " + brother.lastName }}</span>,
<span class="preview-role"><em>{{ brother.role | fullLengthMapEs | lowercase }}</em></span>

<div class="preview-prvlgs">
  <li ng-repeat="(prvlg, val) in prvlgModel" ng-class="prvlgModel[prvlg]" >
  ✓ {{ prvlg | fullLengthMapEs }}

  </li>

</div>