<form id="brother-details-form" name="brotherDetails" ng-submit="formAction()" novalidate>
  <div class="form-group">
    <label for="firstName">Nombre: </label>
    <input type="text" id="firstName" name="firstName" ng-model="brother.firstName" ng-minlength="2" ng-maxlength="30" required>
  </div>
  <div class="form-group">
    <label for="lastName">Apellido: </label>
    <input type="text" id="lastName" name="lastName" ng-model="brother.lastName" ng-minlength="2" ng-maxlength="22" required>
    
    <div class="formErrorFeedback" ng-show="(brotherDetails.firstName.$touched && brotherDetails.firstName.$invalid) || (brotherDetails.lastName.$touched && brotherDetails.lastName.$invalid)">
      Por favor escriba el nombre completo.
    </div>
    
  </div>
  
  <div class="form-group">
    <input type="checkbox" name="isPublisher" id="isPublisher" ng-model="brother.isPublisher">
    <label for="isPublisher">Publicador</label>
    
    <input type="checkbox" name="isBaptized" id="isBaptized" ng-model="brother.isBaptized">
    <label for="isBaptized">Bautizado</label>
  </div>
  

  <div class="form-group">
    Opciones:
    <input type="radio" name="role" id="elder" value="elder" ng-model="brother.role">
    <label for="elder" class="no-bold">Anciano</label>

    <input type="radio" name="role" id="ms" value="ms" ng-model="brother.role">
    <label for="ms" class="no-bold">Siervo ministerial</label>

    <input type="radio" name="role" id="other" value="other" ng-model="brother.role">
    <label for="other" class="no-bold">Otro</label>
  </div>
  
  <div class="form-group">
    <input type="radio" name="gender" id="m" value="m" ng-model="brother.gender" required>
    <label for="m" class="no-bold">Varón</label>
    
    <input type="radio" name="gender" id="f" value="f" ng-model="brother.gender" required>
    <label for="f" class="no-bold">Mujer</label>
  </div>

  

  <div class="form-group-head mdwkFilterHead">Vida y Ministerio Cristianos</div>
  <div class="form-group form-group-mdwkFilter">
    <ul>

      <li>
        <input type="checkbox" id="mdwkchairman" name="mdwkchairman" ng-model="prvlgModel.mdwkchairman" ng-true-value="'hasPrvlg'" ng-false-value="'noPrvlg'">
        <label for="mdwkchairman" class="no-bold">Presidente para reunión Vida y Ministerio</label>
      </li>

      <li>
        <input type="checkbox" id="mdwkcbsconductor" name="mdwkcbsconductor" ng-model="prvlgModel.mdwkcbsconductor" ng-true-value="'hasPrvlg'" ng-false-value="'noPrvlg'">
        <label for="mdwkcbsconductor" class="no-bold">Conductor de Estudio Bíblico de Congregación</label>
      </li>

      <li>
        <input type="checkbox" id="mdwkcbsreader" name="mdwkcbsreader" ng-model="prvlgModel.mdwkcbsreader" ng-true-value="'hasPrvlg'" ng-false-value="'noPrvlg'">
        <label for="mdwkcbsreader" class="no-bold">Lector de Estudio Bíblico de Congregación</label>  
      </li>

      <li>
        <input type="checkbox" id="mdwkstudent" name="mdwkstudent" ng-model="prvlgModel.mdwkstudent" ng-true-value="'hasPrvlg'" ng-false-value="'noPrvlg'">
        <label for="mdwkstudent" class="no-bold">Estudiante en la reunión Vida y Ministerio</label>  
      </li>


      <li>
        <input type="checkbox" id="mdwkprayer" name="mdwkprayer" ng-model="prvlgModel.mdwkprayer" ng-true-value="'hasPrvlg'" ng-false-value="'noPrvlg'">
        <label for="mdwkprayer" class="no-bold">Puede finalizar con oración en Vida y Ministerio</label>  
      </li>

    </ul>
  </div>

  <div class="form-group-head pubFilterHead">Reunión Pública</div>
  <div class="form-group form-group-pubFilter">
    <ul>

      <li>
        <input type="checkbox" id="sunchairman" name="sunchairman" ng-model="prvlgModel.sunchairman" ng-true-value="'hasPrvlg'" ng-false-value="'noPrvlg'">
        <label for="sunchairman" class="no-bold">Presidente para Reunión Pública</label>
      </li>


      <li>
        <input type="checkbox" id="sunwtreader" name="sunwtreader" ng-model="prvlgModel.sunwtreader" ng-true-value="'hasPrvlg'" ng-false-value="'noPrvlg'">
        <label for="sunwtreader" class="no-bold">Lector para La Atalaya</label>      
      </li>

    </ul>
  </div>


  <div class="form-group-head miscFilterHead">Misceláneo</div>
  <div class="form-group form-group-miscFilter">
    <ul>
      <li>
        <input type="checkbox" id="sound" name="sound" ng-model="prvlgModel.sound" ng-true-value="'hasPrvlg'" ng-false-value="'noPrvlg'">
        <label for="sound" class="no-bold">Sonido</label>
      </li>


      <li>
        <input type="checkbox" id="platform" name="platform" ng-model="prvlgModel.platform" ng-true-value="'hasPrvlg'" ng-false-value="'noPrvlg'">
        <label for="platform" class="no-bold">Plataforma</label>
      </li>


      <li>
        <input type="checkbox" id="mics" name="mics" ng-model="prvlgModel.mics" ng-true-value="'hasPrvlg'" ng-false-value="'noPrvlg'">
        <label for="mics" class="no-bold">Micrófonos</label>
      </li>


      <li>
        <input type="checkbox" id="attendant" name="attendant" ng-model="prvlgModel.attendant" ng-true-value="'hasPrvlg'" ng-false-value="'noPrvlg'">
        <label for="attendant" class="no-bold">Acomodador</label>
      </li>
      
      <li>
        <input type="checkbox" id="pubwitness" name="pubwitness" ng-model="prvlgModel.pubwitness" ng-true-value="'hasPrvlg'" ng-false-value="'noPrvlg'">
        <label for="pubwitness" class="no-bold">Aprobado para predicación pública</label>
      </li>

    </ul>

  </div>
  
  
</form>

