<form action="" class="mdwkMtgForm" autocomplete="off">
 
  <!-- Special Meeting Selectors -->
  <div class="btn-group wkTypeBtnContainer">
    <label class="btn btn-primary wkTypeBtn regWk" ng-model="weekData.specialWk" uib-btn-radio="null" ng-click="regVisitTransform({weekObj: weekData})">Semana regular</label>
    <label class="btn btn-primary wkTypeBtn coWk" ng-model="weekData.specialWk" uib-btn-radio="'co'" ng-click="coVisitTransform({weekObj: weekData})">Visita de Supt. de Circuito</label>
    <label class="btn btn-primary wkTypeBtn assemblyWk" ng-model="weekData.specialWk" uib-btn-radio="'assembly'">Asamblea</label>
  </div>
  <input class="specialWkDescInput" ng-if="weekData.specialWk === 'assembly'" type="text" name="specialWkMsg" placeholder="Descripción para el tablero (e.g. 'Asamblea Regional-junio 25-27')" ng-model="weekData.specialWkMsg" autocomplete="off">
  
  
  
  <!-- Standard meeting form scaffolding -->
  <div class="stdMtgScaffold" ng-if="weekData.specialWk !== 'assembly'">
    <!-- Intro -->
    <div class="mdwk-form-section-container">
      <input type="text" name="chairman" placeholder="Presidente" ng-model="weekData.chairman" class="mdwkForm-chairman" maxlength="25" uib-typeahead="(brother.firstName + ' ' + brother.lastName) for brother in brothers | brothersByPrvlg:null:'mdwkchairman' | filter:$viewValue | limitTo:8" typeahead-editable="false" typeahead-on-select="addAssigneeID($item, null, $index, null, 'chairman')" autocomplete="off">

      <input type="text" name="weeklyBibReading" placeholder="Lectura semanal" ng-model="weekData.weeklyBibReading" class="mdwkForm-weeklyBibReading" maxlength="20">

      <input type="number" pattern="[0-9]*" name="introSong" placeholder="Canción de apertura" ng-model="weekData.introSong" class="mdwkForm-song" maxlength="3">
    </div>
    
    
    <!-- Treasures from God's Word -->
    <div class="mdwk-form-section-container">
      <h4 class="form-section-head treasures">Tesoros de la Bíblia</h4>
      <div mdwk-mtg-treasures-form class="mdwkForm-treasures"></div>
    </div>
  
  
    <!-- Apply Yourself to the Ministry -->
    <div class="mdwk-form-section-container">
      <h4 class="form-section-head applyYourself">Seamos Mejores Maestros</h4>
      <div mdwk-mtg-apply-yourself-form class="mdwkForm-applyYourself"></div>
    </div>
   
     
    <!-- Living as Christians -->
    <div class="mdwk-form-section-container">
      <h4 class="form-section-head livingAs">Nuestra Vida Cristiana</h4>
      <div mdwk-mtg-living-as-form class="mdwkForm-livingAs"></div>
    </div>

   
    <!-- Conclusion -->
    <div class="mdwk-form-section-container">
      <input type="number" pattern="[0-9]*" name="concSong" placeholder="Canción de conclusión" ng-model="weekData.concSong" class="mdwkForm-song" maxlength="3">
      <input type="text" name="concPrayer" placeholder="Oración de conclusión" ng-model="weekData.concPrayer" class="mdwkForm-prayer" maxlength="25" uib-typeahead="(brother.firstName + ' ' + brother.lastName) for brother in brothers | brothersByPrvlg:null:'mdwkprayer' | filter:$viewValue | limitTo:8" typeahead-editable="false" typeahead-on-select="addAssigneeID($item, null, $index, null, 'concPrayer')" autocomplete="off">
      <input type="text" name="concNotaBene" placeholder="Notas de conclusión" ng-model="weekData.concNotaBene" class="mdwkForm-concNotaBene" maxlength="200" autocomplete="off">
      
    </div>
    
  </div>

</form>


