<!-- if first week of month, show Prepare this month's presentation -->
<!--
<div class="form-group" ng-if="weekIndex == 0">
  <input type="number" pattern="[0-9]*" name="applyYourself-PTP-duration" placeholder="15"  ng-model="weekData.applyYourselfCollection[0].duration" class="input-applyYourself mdwkForm-duration" maxlength="3" readonly> min.
   
  <input type="text" name="applyYourself-PTP-asgmtTitle" placeholder="Preparemos las presentaciones del mes"  ng-model="weekData.applyYourselfCollection[0].asgmtTitle" class="input-applyYourself mdwkForm-asgmtTitle">
   
  <input type="text" name="applyYourself-PTP-assignee" placeholder="Asignado" ng-model="weekData.applyYourselfCollection[0].assignee" class="input-applyYourself mdwkForm-assignee" uib-typeahead="(brother.firstName + ' ' + brother.lastName) for brother in brothers | brothersByPrvlg:'elder, ms' | filter:$viewValue | limitTo:8" typeahead-editable="false" typeahead-on-select="addAssigneeId({wkIndex: weekIndex, section: 'applyYourselfCollection', index: 0, brother: $item})">
   
  
   Optional assignment settings 
  <button type="button" class="btn form-checkbox" ng-model="weekData.applyYourselfCollection[0].hasMedia" uib-btn-checkbox><i class="fa fa-film" aria-hidden="true"></i></button>

  <button type="button" class="btn form-checkbox" ng-model="weekData.applyYourselfCollection[0].hasAudParticipation" uib-btn-checkbox><i class="fa fa-users" aria-hidden="true"></i></button>       
</div>
-->
 
<!-- else, show the regular form -->
<div class="form-group"> <!-- must do weak-equality testing b/c value passed in from directive is a string --> 
  <div class="form-group">
    <input type="number" pattern="[0-9]*" name="applyYourself-IC-duration" placeholder="2"  ng-model="weekData.applyYourselfCollection[0].duration" class="input-applyYourself mdwkForm-duration" maxlength="3"> min.
    
    <input type="text" name="applyYourself-IC-asgmtTitle" placeholder="Primera conversación" ng-model="weekData.applyYourselfCollection[0].asgmtTitle" class="input-applyYourself mdwkForm-asgmtTitle small-title">
    
    <input type="text" name="applyYourself-IC-assignee" placeholder="Asignado" ng-model="weekData.applyYourselfCollection[0].assignee[0]" class="input-applyYourself mdwkForm-assignee" uib-typeahead="(brother.firstName + ' ' + brother.lastName) for brother in brothers | brothersByPrvlg:null:'mdwkstudent' | filter:$viewValue | limitTo:8" typeahead-editable="false" typeahead-on-select="addAssigneeId({wkIndex: weekIndex, section: 'applyYourselfCollection', index: 0, brother: $item, secondaryIndex: 0})">
    
    <input type="text" name="applyYourself-IC-assignee2" placeholder="Compañero/a" ng-model="weekData.applyYourselfCollection[0].assignee[1]" class="input-applyYourself mdwkForm-assignee" uib-typeahead="(brother.firstName + ' ' + brother.lastName) for brother in brothers | brothersByPrvlg:null:'mdwkstudent' | filter:$viewValue | limitTo:8" typeahead-editable="false" typeahead-on-select="addAssigneeId({wkIndex: weekIndex, section: 'applyYourselfCollection', index: 0, brother: $item, secondaryIndex: 1})">
    
    
    <!-- Optional assignment settings -->
    <button type="button" class="btn form-checkbox" ng-model="weekData.applyYourselfCollection[0].hasMedia" uib-btn-checkbox><i class="fa fa-film" aria-hidden="true"></i></button>

    <button type="button" class="btn form-checkbox" ng-model="weekData.applyYourselfCollection[0].hasAudParticipation" uib-btn-checkbox><i class="fa fa-users" aria-hidden="true"></i></button>
    
  </div>

  <div class="form-group">
    <input type="number" pattern="[0-9]*" name="applyYourself-RV-duration" placeholder="4"  ng-model="weekData.applyYourselfCollection[1].duration" class="input-applyYourself mdwkForm-duration" maxlength="3"> min.
    
    <input type="text" name="applyYourself-RV-asgmtTitle" placeholder="Revisíta"  ng-model="weekData.applyYourselfCollection[1].asgmtTitle" class="input-applyYourself mdwkForm-asgmtTitle small-title">
    
    <input type="text" name="applyYourself-RV-assignee" placeholder="Asignado" ng-model="weekData.applyYourselfCollection[1].assignee[0]" class="input-applyYourself mdwkForm-assignee" uib-typeahead="(brother.firstName + ' ' + brother.lastName) for brother in brothers | brothersByPrvlg:null:'mdwkstudent' | filter:$viewValue | limitTo:8" typeahead-editable="false" typeahead-on-select="addAssigneeId({wkIndex: weekIndex, section: 'applyYourselfCollection', index: 1, brother: $item, secondaryIndex: 0})">
    
    <input type="text" name="applyYourself-RV-assignee" placeholder="Compañero/a" ng-model="weekData.applyYourselfCollection[1].assignee[1]" class="mdwkForm-assignee" uib-typeahead="(brother.firstName + ' ' + brother.lastName) for brother in brothers | brothersByPrvlg:null:'mdwkstudent' | filter:$viewValue | limitTo:8" typeahead-editable="false" typeahead-on-select="addAssigneeId({wkIndex: weekIndex, section: 'applyYourselfCollection', index: 1, brother: $item, secondaryIndex: 1})">
    
    
    <!-- Optional assignment settings -->
    <button type="button" class="btn form-checkbox" ng-model="weekData.applyYourselfCollection[1].hasMedia" uib-btn-checkbox><i class="fa fa-film" aria-hidden="true"></i></button>

    <button type="button" class="btn form-checkbox" ng-model="weekData.applyYourselfCollection[1].hasAudParticipation" uib-btn-checkbox><i class="fa fa-users" aria-hidden="true"></i></button>
    
    
  </div>

  <div class="form-group">
    <input type="number" pattern="[0-9]*" name="applyYourself-BS-duration" placeholder="6"  ng-model="weekData.applyYourselfCollection[2].duration" class="input-applyYourself mdwkForm-duration" maxlength="3"> min.
    
    <input type="text" name="applyYourself-BS-asgmtTitle" placeholder="Curso bíblico"  ng-model="weekData.applyYourselfCollection[2].asgmtTitle" class="input-applyYourself mdwkForm-asgmtTitle small-title">
    
    <input type="text" name="applyYourself-BS-assignee" placeholder="Asignado" ng-model="weekData.applyYourselfCollection[2].assignee[0]" class="input-applyYourself mdwkForm-assignee" uib-typeahead="(brother.firstName + ' ' + brother.lastName) for brother in brothers | brothersByPrvlg:null:'mdwkstudent' | filter:$viewValue | limitTo:8" typeahead-editable="false" typeahead-on-select="addAssigneeId({wkIndex: weekIndex, section: 'applyYourselfCollection', index: 2, brother: $item, secondaryIndex: 0})">
    
    <input type="text" name="applyYourself-BS-assignee" placeholder="Compañero/a" ng-model="weekData.applyYourselfCollection[2].assignee[1]" class="input-applyYourself mdwkForm-assignee" uib-typeahead="(brother.firstName + ' ' + brother.lastName) for brother in brothers | brothersByPrvlg:null:'mdwkstudent' | filter:$viewValue | limitTo:8" typeahead-editable="false" typeahead-on-select="addAssigneeId({wkIndex: weekIndex, section: 'applyYourselfCollection', index: 2, brother: $item, secondaryIndex: 1})">
    
    
    <!-- Optional assignment settings -->
    <button type="button" class="btn form-checkbox" ng-model="weekData.applyYourselfCollection[2].hasMedia" uib-btn-checkbox><i class="fa fa-film" aria-hidden="true"></i></button>

    <button type="button" class="btn form-checkbox" ng-model="weekData.applyYourselfCollection[2].hasAudParticipation" uib-btn-checkbox><i class="fa fa-users" aria-hidden="true"></i></button>
    
    
  </div>
</div>