<style>
  .dropdown-menu {
    border-radius: 0;
  }
 

</style>
 

<!-- TALK -->

<div class="form-group">
  <input type="number" pattern="[0-9]*" name="treasures-TK-duration" placeholder="10" size="1" ng-model="weekData.treasuresCollection[0].duration" class="input-treasures mdwkForm-duration" maxlength="3" readonly> min.
  
  <input type="text" class="input-treasures mdwkForm-asgmtTitle" name="treasures-TK-asgmtTitle" placeholder="Título de discurso" size="50" ng-model="weekData.treasuresCollection[0].asgmtTitle">
  
  <input type="text" class="input-treasures mdwkForm-assignee" name="treasures-TK-assignee" placeholder="Asignado" ng-model="weekData.treasuresCollection[0].assignee" uib-typeahead="(brother.firstName + ' ' + brother.lastName) for brother in brothers | brothersByPrvlg:'ms, elder' | filter:$viewValue | limitTo:8" typeahead-editable="false" typeahead-on-select="addAssigneeId({wkIndex: weekIndex, section: 'treasuresCollection', index: 0, brother: $item})" autocomplete="off">
  
  
  <!-- Optional assignment settings -->
  <button type="button" class="btn form-checkbox" ng-model="weekData.treasuresCollection[0].hasMedia" uib-btn-checkbox><i class="fa fa-film" aria-hidden="true"></i></button>
  
  <button type="button" class="btn form-checkbox" ng-model="weekData.treasuresCollection[0].hasAudParticipation" uib-btn-checkbox><i class="fa fa-users" aria-hidden="true"></i></button>
  
  
  
  <!-- typeahead-on-select="addAssigneeID($item, 'treasuresCollection', $index, 0)" -->
</div>


<!-- GEMS -->
<div class="form-group">
  <input type="number" pattern="[0-9]*" class="input-treasures mdwkForm-duration" name="treasures-DG-duration" size="1" ng-model="weekData.treasuresCollection[1].duration" placeholder="8" maxlength="3" readonly> min.
  <input type="text" class="input-treasures mdwkForm-asgmtTitle" name="treasures-DG-asgmtTitle" size="50" ng-model="weekData.treasuresCollection[1].asgmtTitle" placeholder="Busquemos perlas escondidas">
  <input type="text" class="input-treasures mdwkForm-assignee" name="treasures-DG-assignee" placeholder="Asignado" ng-model="weekData.treasuresCollection[1].assignee" uib-typeahead="(brother.firstName + ' ' + brother.lastName) for brother in brothers | brothersByPrvlg:'ms, elder' | filter:$viewValue | limitTo:8" typeahead-editable="false" typeahead-on-select="addAssigneeId({wkIndex: weekIndex, section: 'treasuresCollection', index: 1, brother: $item})">
  
  
  <!-- Optional assignment settings -->
  <button type="button" class="btn form-checkbox" ng-model="weekData.treasuresCollection[1].hasMedia" uib-btn-checkbox><i class="fa fa-film" aria-hidden="true"></i></button>
  
  <button type="button" class="btn form-checkbox" ng-model="weekData.treasuresCollection[1].hasAudParticipation" uib-btn-checkbox><i class="fa fa-users" aria-hidden="true"></i></button>
  
</div>

<!-- BIBLE READING -->
<div class="form-group">
  <input type="number" pattern="[0-9]*"class="input-treasures mdwkForm-duration" name="treasures-BR-duration" placeholder="4" size="1" ng-model="weekData.treasuresCollection[2].duration" maxlength="3" readonly> min.
  <input type="text" class="input-treasures mdwkForm-asgmtTitle" name="treasures-BR-asgmtTitle" placeholder="Lectura de la bíblia" size="50" ng-model="weekData.treasuresCollection[2].asgmtTitle">
  <input type="text" class="input-treasures mdwkForm-assignee" name="treasures-BR-assignee" placeholder="Asignado" ng-model="weekData.treasuresCollection[2].assignee" uib-typeahead="(brother.firstName + ' ' + brother.lastName) for brother in brothers | brothersByPrvlg:null:'mdwkstudent' | filter:$viewValue | limitTo:8" typeahead-editable="false" typeahead-on-select="addAssigneeId({wkIndex: weekIndex, section: 'treasuresCollection', index: 2, brother: $item})">
  
  
  <!-- Optional assignment settings -->
  <button type="button" class="btn form-checkbox" ng-model="weekData.treasuresCollection[2].hasMedia" uib-btn-checkbox><i class="fa fa-film" aria-hidden="true"></i></button>
  
  <button type="button" class="btn form-checkbox" ng-model="weekData.treasuresCollection[2].hasAudParticipation" uib-btn-checkbox><i class="fa fa-users" aria-hidden="true"></i></button>
  
</div>