<div class="form-group">
  <input type="number" pattern="[0-9]*" ng-model="weekData.midSong" class="input-livingAs mdwkForm-song" name="midSong" placeholder="Canción" maxlength="3">
</div>


<div class="form-group" ng-repeat="part in weekData.livingAsCollection">

  <input type="number" pattern="[0-9]*" class="input-livingAs mdwkForm-duration" name="livingAs-TK-duration" placeholder="{{part.duration}}" ng-model="part.duration" maxlength="3"> min.
  <input type="text" class="input-livingAs mdwkForm-asgmtTitle" name="livingAs-TK-asgmtTitle" placeholder="Título de discurso" size="50" ng-model="part.asgmtTitle">
  <input type="text" class="input-livingAs mdwkForm-assignee" name="livingAs-TK-assignee" placeholder="Asignado" ng-model="part.assignee" uib-typeahead="(brother.firstName + ' ' + brother.lastName) for brother in brothers | brothersByPrvlg:'elder, ms' | filter:$viewValue | limitTo:8" typeahead-editable="false" autocomplete="off" typeahead-on-select="addAssigneeId({wkIndex: weekIndex, section: 'livingAsCollection', index: $index, brother: $item})">

  <!-- if CBS, show reader field -->
  <input type="text" class="input-livingAs mdwkForm-assignee" name="livingAs-TK-assignee" placeholder="Lector" ng-if="part.asgmtCode==='CBS'" ng-model="part.reader" uib-typeahead="(brother.firstName + ' ' + brother.lastName) for brother in brothers | brothersByPrvlg:null:'mdwkcbsreader' | filter:$viewValue | limitTo:8" typeahead-editable="false" autocomplete="off" typeahead-on-select="addAssigneeId({wkIndex: weekIndex, section: 'livingAsCollection', index: $index, brother: $item, secondaryIndex: 'reader'})">
  
  
  <!-- Optional assignment settings -->
  <button type="button" class="btn form-checkbox" ng-model="part.hasMedia" uib-btn-checkbox><i class="fa fa-film" aria-hidden="true"></i></button>

  <button type="button" class="btn form-checkbox" ng-model="part.hasAudParticipation" uib-btn-checkbox><i class="fa fa-users" aria-hidden="true"></i></button>
  
  
  <!-- buttons -->
  <button type="button" class="btn btn-danger btn-xs addButton" ng-if="part.removable" ng-click="removeLivingAsTk({wkIndex: weekIndex, tkIndex: $parent.$index })">-</button>
  
  <button type="button" class="btn btn-primary btn-xs addButton" ng-if="$first" ng-click="addLivingAsTk({wkIndex: weekIndex})">+</button>
  
  <!-- ng-if creates new scope, thus must use $parent.$parent to access arr index -->
  
  
  
    
  
</div>

