<div id="serviceGroups-main" class="serviceGroupsTmplt">
  
  <div class="page-header">
    <h2>Grupos para el Servicio del Campo</h2>
  </div>
  
  
  
  <div class="page-content">
  
    <div class="service-group-wrapper clearfix">
      
      <div class="service-group" ng-repeat="group in serviceGroups">
        <div class="service-group-header">

          <h3 class="service-group-overseer"> 
          # {{group._id}} 
          {{group.overseer.firstName}} {{group.overseer.lastName}}
          <span class="role" ng-if="group.overseer.role==='ms'">({{ group.overseer.role }})</span>
          </h3>

          <div class="service-group-satLoc">
            {{ group.satLoc }}
          </div>

          <div class="service-group-aux"> Aux: {{group.aux.firstName}} {{group.aux.lastName}}</div>
        </div>

        <div class="service-group-assignees">
          <div class="service-group-assignees-header">
            Miembros:
          </div>
          <ul>
            <li ng-repeat="member in group.assignees">{{ member.lastName }}, {{ member.firstName }}</li>
          </ul>
        </div>

      </div>    
    </div>
    
    
    
  </div>
  
</div>