<div id="login-view">
  <div class="login-header">
    <h3>Por favor ingrese sus credenciales para continuar...</h3>
  </div>
  
    
  <div class="httpNotifications">
    <div ng-if="statusUpdate">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      {{ statusUpdate}}
    </div>
  </div>
  
  
  <form ng-submit="submitCredentials()" class="login-form">
    <input type="text" class="form-group login-input email" placeholder="email" ng-model="user.email">
    
    <input type="password" class="form-group login-input password" placeholder="contraseña" ng-model="user.password">
    
    <button type="submit" class="btn btn-success login-submit-btn"><i class="fa fa-lock" aria-hidden="true"></i> Ingresar</button>
  </form>
  
 
  
</div>