/* Reset browser defaults
 ***** adapted from: http://jaydenseric.com/blog/forget-normalize-or-resets-lay-your-own-css-foundation

*/
html {
  /* prevents browsers from zooming, 
  ** still allows users to pinch to zoom */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  /* resets margin, 
  ** normalizes default font-size and line-height, 
  ** optimizes font-smoothing */
  margin: 0;
  font: 17px/1 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #efeff1; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main,
li {
  /* fixes IE bug with <main>,
  ** gets rid of bullet points */
  display: block; }

h1,
h2,
h3,
h4 {
  /* font size inherit from surrounding text
  ** determined by placement in DOM */
  font-size: inherit; }

a,
button {
  /* reset hyperlinks and buttons, apply
  ** animation duration */
  color: inherit;
  transition: .3s; }

a {
  /* remove default styling on links */
  text-decoration: none; }

button {
  /* reset native appearance, gives
  ** buttons a pointer cursor appearance */
  overflow: visible;
  /* for IE */
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  /* fixes ugly Mozilla bug */
  padding: 0;
  border: 0; }

img {
  /* responsive images: respect size
  ** of container, aspect ratio preserved */
  max-width: 100%;
  height: auto;
  border: 0; }

input[type="text"],
input[type="number"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: inherit, sans-serif;
  font-size: 1em;
  appearance: none;
  box-shadow: none;
  border-radius: 0; }

input[type="text"]:focus,
input[type="number"]:focus {
  outline: none; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  /* Removes leftover margin */ }

input[type=number] {
  -moz-appearance: textfield; }

input[type="text"],
input[type="number"] {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #c9c9c9;
  transition: border 0.3s; }

input[type="text"]:focus,
input[type="number"]:focus {
  border-bottom: 2px solid #969696; }

/* MIXINS */
/* variables for breakpoints */
/* color variables */
#omni-wrapper {
  width: 100%;
  background-color: #efeff1;
  padding-left: 1.1em;
  padding-right: 1.1em;
  box-sizing: border-box; }

@media all and (min-width: 60em) {
  #omni-wrapper {
    width: 85%;
    max-width: 60em;
    margin-left: auto;
    margin-right: auto; } }
/* utilities */
.italics {
  font-style: oblique; }

.centered {
  text-align: center; }

.collapsable {
  cursor: pointer; }

.collapsed {
  display: none; }

.hasDescription {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.hasDescription:after {
  content: " \25BE";
  color: black; }

.no-bold {
  font-weight: 400; }

.assignment_desc {
  background-color: rgba(255, 255, 255, 0.25);
  padding-left: 0.17em;
  font-size: 0.8em;
  line-height: 1.2em; }

.hasVideoThumb {
  height: 1em; }

.ajax-loading {
  height: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.largeletterSmall {
  font-size: 1.2em; }

.notification {
  background-color: red; }

.dropdown-arrow {
  float: right;
  margin-right: 0.3em;
  font-size: 0.7em;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transition: -moz-transform 0.5s ease-in-out;
  -o-transition: -o-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out; }

.rotate-collapsed {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

.formErrorFeedback {
  color: red;
  font-size: 0.85em;
  line-height: 1.2em; }

.float-clearfix:after {
  content: "";
  display: table;
  clear: both; }

.error {
  color: red; }

/* Header */
header {
  background-color: #E8E8E8;
  border-bottom: 1px solid darkgray;
  color: black;
  text-align: center;
  margin-bottom: 0em;
  padding: 0.3em; }
  header #logo-right {
    height: 1.2em; }
  header h3 {
    font-size: 1.38em;
    font-weight: 400;
    padding-bottom: 0.2em; }
  header h4 {
    font-size: 1em;
    font-weight: 400;
    text-decoration: underline; }
  header #errNotifications {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    color: red; }

/* FOOTER */
footer {
  margin-top: 0em;
  font-size: 0.7em;
  border-top: 1px solid darkgray;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  background-color: #E8E8E8; }

/* ******** DATE NAV CONTROLS ******** */
/* Navigation Controls */
#nav-ctrl {
  width: 100%;
  margin-top: 0.4em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  text-align: center;
  font-size: 0.8em; }
  #nav-ctrl #nav-ctrl-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 20em; }
  #nav-ctrl .nav-ctrls {
    background-color: #E8E8E8;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    -webkit-border-radius: 0.6em;
    -moz-border-radius: 0.6em;
    -ms-border-radius: 0.6em;
    border-radius: 0.6em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid darkgray;
    margin-left: 0.3em;
    float: left;
    cursor: pointer;
    width: 30%; }
  #nav-ctrl .nav-ctrls:hover {
    background-color: azure;
    border-color: #392046; }

#nav-ctrl:after {
  content: "";
  clear: both;
  display: block; }

/* ******** MAIN CONTENT ******** */
/* misc */
.content-header {
  background-color: #392046;
  font-weight: 400;
  font-size: 1.5em;
  margin-top: 0.3em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  text-align: center;
  color: white; }

/* Midweek Meeting */
#mdwk-content {
  line-height: 1.36em;
  background-color: #efeff1;
  /* Treasures from God's Word section */
  /* Apply Yourself to the Ministry section */
  /* Living as Christians section */
  /* Midweek closing remarks */
  /* Miscellaneous */
  /* ****** MEDIA QUERIES ****** */ }
  #mdwk-content #mdwk-content-header-colWrapper {
    padding-top: 1em;
    padding-bottom: 1em; }
  #mdwk-content #mdwk-intro-weeklyBibleRdng-ins {
    margin-top: 0.2em;
    text-transform: uppercase;
    font-size: 0.6em; }
  #mdwk-content #mdwk-mid-song {
    font-size: 0.72em; }
  #mdwk-content .mdwk-heading {
    font-size: 1.2em;
    font-weight: 400;
    text-align: left;
    border-bottom: 1px solid grey;
    padding-top: 0.2em; }
  #mdwk-content #mdwk-intro-info {
    float: left; }
  #mdwk-content #mdwk-soundAttPlat {
    float: left;
    font-size: 80%;
    margin-left: 0.5em;
    padding-left: 0.5em;
    border-left: 1px dotted black; }
  #mdwk-content #mdwk-intro:after {
    content: "";
    display: block;
    clear: both; }
  #mdwk-content .mdwk-assignment {
    margin-bottom: 0.25em;
    color: #333; }
  #mdwk-content .assignment_desc {
    padding-top: 0.17em;
    padding-bottom: 0.17em;
    padding-left: 0.35em;
    padding-right: 0.35em;
    font-size: 0.8em;
    line-height: 1.35em;
    margin-left: 1em;
    margin-bottom: 0.8em;
    text-align: left; }
  #mdwk-content #mdwk-intro,
  #mdwk-content .mdwk-mtgSection {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 0.2em;
    margin-bottom: 0.6em; }
  #mdwk-content .mdwkDynContentIns {
    margin-top: 0.5em; }
  #mdwk-content #mdwk-Treasures {
    background-color: none; }
    #mdwk-content #mdwk-Treasures .mdwk-heading {
      background-color: #4e565d;
      color: white;
      border-bottom: 2px solid #4e565d; }
    #mdwk-content #mdwk-Treasures .mdwk-assignee {
      background-color: #4e565d;
      color: white; }
    #mdwk-content #mdwk-Treasures .hasDescription:after {
      content: " \25BE";
      color: #4e565d; }
    #mdwk-content #mdwk-Treasures .assignment_desc {
      background-color: rgba(78, 86, 93, 0.2);
      border-right: 1px dotted #4e565d; }
  #mdwk-content #mdwk-ApplyYourself {
    background-color: none; }
    #mdwk-content #mdwk-ApplyYourself .mdwk-heading {
      background-color: #b37427;
      color: white;
      font-weight: 400;
      border-bottom: 2px solid #b37427; }
    #mdwk-content #mdwk-ApplyYourself .mdwk-assignee {
      background-color: #b37427;
      color: white; }
    #mdwk-content #mdwk-ApplyYourself .hasDescription:after {
      content: " \25BE";
      color: #b37427; }
    #mdwk-content #mdwk-ApplyYourself .assignment_desc {
      background-color: rgba(179, 116, 39, 0.2);
      border-right: 1px dotted #b37427; }
  #mdwk-content #mdwk-LivingAs {
    background-color: none; }
    #mdwk-content #mdwk-LivingAs .mdwk-heading {
      background-color: #82001d;
      color: white;
      font-weight: 400;
      border-bottom: 2px solid #82001d; }
    #mdwk-content #mdwk-LivingAs .mdwk-assignee {
      background-color: #82001d;
      color: white; }
    #mdwk-content #mdwk-LivingAs .hasDescription:after {
      content: " \25BE";
      color: #82001d; }
    #mdwk-content #mdwk-LivingAs .assignment_desc {
      background-color: rgba(130, 0, 29, 0.2);
      border-right: 1px dotted #82001d; }
  #mdwk-content .heading-icon {
    width: 0.9em;
    padding-right: 0.3em; }
  #mdwk-content .mdwk-assignee {
    font-size: 0.9em;
    padding-left: 0.15em;
    padding-right: 0.15em;
    background-color: lightgrey;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    border-radius: 0.3em; }
  #mdwk-content .assignee-treasures {
    color: #4e565d; }
  #mdwk-content .assignee-ApplyYourself {
    color: #b37427; }
  #mdwk-content .assignee-LivingAs {
    color: #82001d; }
  #mdwk-content .collapsable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  @media all and (min-width: 29.75em) {
    #mdwk-content #mdwk-soundAttPlat {
      float: right;
      font-size: 80%;
      margin-right: 1em;
      padding-left: 0.5em;
      border-left: 1px dotted black; }
    #mdwk-content #mdwk-intro,
    #mdwk-content .mdwk-mtgSection {
      width: 87%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0.6em; }
    #mdwk-content #mdwk-Treasures-heading-colWrapper {
      border-left: 1px solid rgba(78, 86, 93, 0.4); }
    #mdwk-content #mdwk-ApplyYourself-heading-colWrapper {
      border-left: 1px solid rgba(179, 116, 39, 0.4); }
    #mdwk-content #mdwk-LivingAs-heading-colWrapper {
      border-left: 1px solid rgba(130, 0, 29, 0.4); }
    #mdwk-content .mdwkDynContentIns {
      padding-left: 0.7em; }
    #mdwk-content .dropdown-arrow {
      margin-right: 0.5em; } }
  @media all and (min-width: 39.8em) {
    #mdwk-content #mdwk-soundAttPlat {
      margin-right: 2em; }
    #mdwk-content #mdwk-intro,
    #mdwk-content .mdwk-mtgSection {
      width: 87%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1em;
      text-align: left;
      padding-left: 0.2em; } }
  @media all and (min-width: 60em) {
    #mdwk-content #mdwk-intro {
      width: 50%; }
    #mdwk-content .mdwk-mtgSection {
      margin-bottom: 1.5em; } }

/* ************ SUNDAY MEETING ************** */
/* ************                ************** */
#sundayMtg {
  line-height: 1.3em; }
  #sundayMtg #sundayMtg-content-header {
    background-color: #b37427; }
  #sundayMtg #sundayMtg-content-header-colWrapper {
    background-color: #efeff1;
    padding-top: 1em;
    padding-bottom: 1em; }

/*# sourceMappingURL=main.css.map */
