<mdwk-mtg-dynamic-duration asgmt-duration-model="asgmtDurationModel" asgmt-duration-editable="asgmtDurationEditable" asgmt-max-digits="3"></mdwk-mtg-dynamic-duration>

<mdwk-mtg-dynamic-asgmt-title asgmt-title-model="asgmtTitleModel" asgmt-title-list="asgmtTitleList" asgmt-title-editable="asgmtTitleEditable"></mdwk-mtg-dynamic-asgmt-title>

<mdwk-mtg-dynamic-assignee asgmt-assignee-model="asgmtAssigneeModel" assignee-list="asgmtAssigneeList" assignee-editable="false"></mdwk-mtg-dynamic-assignee>