<span ng-click="editModeOn($event)" 
  ng-hide="editMode" 
  class="dynamicInputAsText dynamicAsgmtTitle">
    {{ asgmtTitle }} 
  <span ng-if="!asgmtTitle">Título de asignación</span>
</span>

<input type="text" ng-model="asgmtTitle" placeholder="Asignación" ng-show="editMode" ng-keypress="doneEditingHandler($event)" ng-blur="doneEditingHandler($event)" class="dynamicInputAsForm dynamicAsgmtTitle" uib-typeahead="title for title in asgmtTitleList | filter:$viewValue"
typeahead-editable="returnEditable()" value="asgmtTitle">


<!--Place transformation functions and common functionality into separate service and inject into directives' controller instead of duplicating-->