<span ng-click="editModeOn($event)" 
  ng-hide="editMode" 
  class="dynamicInputAsText dynamicAssignee">
    {{ assignee }} 
  <span ng-if="!assignee">Asignado</span>
</span>

<input type="text" ng-model="assignee" placeholder="asignado" ng-show="editMode" ng-keypress="doneEditingHandler($event)" ng-blur="doneEditingHandler($event)" class="dynamicInputAsForm dynamicAssignee" uib-typeahead="assignee for assignee in assigneeList | filter:$viewValue"
typeahead-editable="returnEditable()">