<span ng-click="editModeOn($event)" 
  ng-hide="editMode" 
  class="dynamicInputAsText dynamicAsgmtDuration">
  <span ng-if="asgmtDuration">
    {{ asgmtDuration }} 
  </span>
     
  <span ng-if="!asgmtDuration"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
  
   min.
</span>

<input type="number" pattern="[0-9]*" ng-model="asgmtDuration" placeholder="dur." ng-show="editMode" ng-keypress="doneEditingHandler($event)" ng-blur="doneEditingHandler($event)" class="dynamicInputAsForm dynamicAsgmtDuration" maxDigits="" length="3">