<div id="brother-edit-view">
  <div class="notificationsPane warning" ng-show="viewNotifications">&#x26a0; {{ viewNotifications }}</div>
  
  <div id="pageHeader">
    <img src="/img/edit.png" class="pageIcon" alt="">Añadir hermano: <span class="header-brother-edit-name">{{ brother.firstName + " " + brother.lastName }}</span>
  </div>

  <hr>


  <a href="/#!/brothers"> ← Cancelar</a>

  
  <div class="float-parent-clearfix">
    <!--  FORM -->
    <div class="edit-brother-form">
      <brother-details-form brother="brother" prvlg-model="prvlgModel" form-action="submitForm()" is-form-valid="isFormValid" child-form-ctrl="childFormCtrl"></brother-details-form>
    </div>
  
  
  
    <div class="previewChanges">
      <!-- PREVIEW BOX -->
      <brother-details-preview brother="brother" prvlg-model="prvlgModel"></brother-details-preview>
    </div>
  </div>
  
  <br>
  <button form="brother-details-form" class="submitForm btn btn-success" type="submit">GUARDAR</button>

  
</div>
