<div id="view-all-brothers">


<!-- PAGE HEADER -->
<div id="pageHeader">
  Hermanos de Queens Spanish:
  {{ (brFilters.role | fullLengthMapEs) }}
</div>


<!-- WIDGETS -->
<div id="home-widgets" class="">
  
  <div class="floated-widgets clearfix">
   <!-- Search bar -->
    <div class="float-left-widgets">
      <i class="fa fa-search search-icon" aria-hidden="true"></i><input type="text" ng-model="searchText" ng-maxlength="30" maxlength="30" placeholder="Búsque un hermano (total: {{ brothers.length }})" class=" brotherSearchMain">
    </div>
    
    <!-- Add brother button -->
    <div class="float-right-widgets">
      <a href="/#!/brothers/new" class="addBrotherButton">+ Añadir hermano</a>
    </div>
  </div>
  
  
  
  <div class="selectedFilters">
    <span class="selected-filter no-highlight" ng-repeat="(key, value) in prvlgsFil" ng-if="value === true" title="{{ key | fullLengthMapEs }}">
      <i class="fa fa-times click-icon" aria-hidden="true" ng-click="removeFilter(key)"></i> {{ key | abbrMapEs }}
    </span>
  </div>
  
  <br>
    
  <div class="filters-head no-highlight" ng-click="toggleFilterAccordion()">Filtre su búsqueda <i class="fa fa-angle-down" aria-hidden="true" ng-if="!filterAccordion"></i><i class="fa fa-angle-up" aria-hidden="true" ng-if="filterAccordion"></i></div>
  
  <div class="filters" ng-show="filterAccordion">
    <div class="filter-group-label">
      Privilegios (seleccione todos los que apliquen)
    </div>
    <div class="btn-group filter-group filter-group-prvlg">
      <label class="btn btn-primary btn-xs filter-prvlg" ng-repeat="prvlg in prvlgsAll" ng-model="prvlgsFil[prvlg]" uib-btn-checkbox>{{ prvlg |fullLengthMapEs}}</label>
    </div>
  </div>
  
</div>

<hr>


<div class="bottom-widgets-container clearfix">
  
  <div class="btn-group filter-group filter-group-role">
    <label class="btn btn-primary filter-role" ng-model="brFilters.role" uib-btn-radio="''">Todos</label>
    <label class="btn btn-primary filter-role" ng-model="brFilters.role" uib-btn-radio="'elder'">Anciano</label>
    <label class="btn btn-primary filter-role" ng-model="brFilters.role" uib-btn-radio="'ms'">Siervo ministerial</label>
  </div>
  
  <div class="change-view">
    <i class="fa fa-th fa-lg change-view-icon" aria-hidden="true" ng-if="!showDetails" ng-click="toggleView()" title="Mostrar detalles"></i>

    <i class="fa fa-square fa-lg change-view-icon" aria-hidden="true" ng-if="showDetails" ng-click="toggleView()" title="Ocultar detalles"></i>
  </div>
</div>


<!-- CONTENT: BROTHER ITEMS -->
<div ng-repeat="brother in brothers | filter: brFilters | filter:prvlgFilters | filter:searchInput as results" class="brother-list-item {{ brother.role }}-list-item" ng-click="editBrother(brother._id)">
  <div class="clearfix">
    <!-- Brother Name -->
    <div class="brotherName"><span class="role {{ brother.role }}" title="{{ brother.role | fullLengthMapEs }}">{{ brother.role | abbrMapEs }}</span> {{ (brother.firstName + " " + brother.lastName) }}</div>
    
    <i class="fa fa-pencil-square-o fa-lg brother-ctrl" aria-hidden="true"></i>
  </div>
  
  <div class="prvlgs" ng-if="showDetails">Privilegios: 
    <span class="prvlg" ng-repeat="prvlg in brother.prvlgs" title="{{ prvlg | fullLengthMapEs }}">{{ prvlg | abbrMapEs }}</span>
  </div>
</div>


<!-- NO RESULTS SPLASH PAGE -->
<div ng-if="results.length === 0" class="no-results">
  <div ng-if="brothers.length === 0">Añada a un hermano para comenzar!</div>
 
  <div ng-if="brFilters.role === '' && brothers.length > 0">
    Le gustaría agregar a <span class="add-no-results"><a ng-href="/#!/brothers/new/{{ searchText }}">{{ searchText }}</a></span>?
  </div>
  
  <div ng-if="brFilters.role !== ''">
    No hubo resultados para su busqueda.
  </div>
  
</div>


</div>
