<div id="brother-edit-view">
  <div class="notificationsPane warning" ng-show="viewNotifications">&#x26a0; {{ viewNotifications }}</div>
  
  <div id="pageHeader">
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar datos de <span class="header-brother-edit-name">{{ masterBrother.firstName + " " + masterBrother.lastName }}</span>
  </div>

  <hr>

  <div class="clearfix">
    <a href="/#!/brothers" class="cancel-edit"> ← Cancelar</a>
    
    <button class="btn btn-xs btn-danger delete-brother" ng-click="deleteBrother()"><i class="fa fa-trash-o fa-lg"></i> Eliminar</button>
  </div>
  

  <!--  FORM -->
  <div class="float-parent-clearfix">
    <div class="edit-brother-form">
      <brother-details-form brother="brother" prvlg-model="prvlgModel" form-action="submitForm()" child-form-ctrl="childFormCtrl"></brother-details-form>
    </div>
  
  
  <!-- PREVIEW BOX -->
    <div class="previewChanges">
      <brother-details-preview brother="brother" prvlg-model="prvlgModel"></brother-details-preview>
    </div>
  </div>
  
  <button class="submitForm btn btn-success" type="submit" form="brother-details-form">GUARDAR</button>
  
  
</div>
