<!--
<div class="modal-header">
    <h3 class="modal-title">Borrar a {{ brother.firstName + ' ' + brother.lastName  }}</h3>
</div>
-->

<div class="modal-body">
    <p>Está seguro que quiere <strong>remover</strong> al hermano(a) {{ brother.firstName + ' ' + brother.lastName }}?</p>
</div>

<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="confirmDelete()">Sí, remover</button>
    <button class="btn btn-primary" type="button" ng-click="cancel()">Cancelar</button>
</div> 