<div class="modal-body">
  <input type="text" placeholder="email" ng-model="user.email"><br>
  <input type="password" placeholder="password" ng-model="user.password"><br>
  
  {{user}}
</div>


<div class="modal-footer">
  <button class="btn-primary" type="button" ng-click="authenticate()">Login</button>
</div>